[Unit]
Description=autoconnect midi2input
After=m2i.service

[Service]
ExecStart=/usr/local/bin/midi_connect.sh
ExecStartPre=/bin/sleep 10

[Install]
WantedBy=plasma-workspace.target
