---
- name: handler_ensure_postgres_service
  become: true
  ansible.builtin.systemd_service:
    scope: system
    name: postgresql.service
    enabled: true
    masked: false

- name: handler_ensure_color_change_dbus_subscription
  ansible.builtin.systemd_service:
    scope: user
    name: subscribe_color_change.service
    enabled: true
    masked: false
