[Unit]
Description=Start chromium as debugger
After=graphical-session.target

[Service]
## BEGIN ANSIBLE MANAGED BLOCK - SETUP BROWSER
ExecStart=/usr/bin/chromium --remote-debugging-port=9222 --load-extension=%h/repos/promnesia/extension/dist/chrome,%h/repos/react/packages/react-devtools-extensions/chrome/build/unpacked,%h/repos/NewTab-Redirect,%h/repos/vimium,%h/repos/chrome-show-tab-numbers,%h/repos/playwright-mcp/extension/dist
## END ANSIBLE MANAGED BLOCK - SETUP BROWSER

[Install]
WantedBy=graphical-session.target
