[Unit]
Description=Borg dev1-config-files backup timer

[Timer]
Persistent=true
OnBootSec=10min
OnUnitActiveSec=1h
Unit=dev1-config-files.service

[Install]
WantedBy=timers.target
