[Unit]
Description=Borg dev3-config-files backup timer
Requires=dev3-config-files.service

[Timer]
Persistent=true
OnBootSec=10min
OnUnitActiveSec=2h
Unit=dev3-config-files.service

[Install]
WantedBy=timers.target
