[Unit]
Description=Run %i backup every hour

[Timer]
Persistent=true
OnBootSec=10min
OnUnitActiveSec=1h
Unit=borg-backup@%i.service

[Install]
WantedBy=timers.target
