[Unit]
Description=Run %i backup every 4 hours

[Timer]
Persistent=true
OnBootSec=10min
OnUnitActiveSec=4h
Unit=borg-backup@%i.service

[Install]
WantedBy=timers.target
