[Unit]
Description=Start feh for user
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/feh --bg-scale --recursive --verbose --randomize %h/.wallpapers/

[Install]
WantedBy=graphical-session.target
