[Unit]
Description=Open mypaint on start
After=graphical-session.target

[Service]
ExecStart=%h/bin/mypaint

[Install]
WantedBy=graphical-session.target
