[Unit]
Description=Plasma Custom Window Manager
Before=graphical-session.target

[Service]
ExecStart=/usr/local/bin/dwm
Restart=on-failure

[Install]
WantedBy=graphical-session.target
