[Unit]
Description=Plasma Custom Window Manager
Before=plasma-workspace.target

[Service]
ExecStart=/usr/local/bin/dwm
Restart=on-failure

[Install]
WantedBy=plasma-workspace.target
