lazygit/dot-config/lazygit/state.yml

# Ignore symlinks from systemd
systemd/dot-config/systemd/user/*.wants
systemd/dot-config/systemd/user/*session-manager.service
systemd/dot-config/systemd/user/*kwin_x11.service

# Ignore weylus compiled js
peripherals/dot-config/weylus/out
nvim/dot-config/nvim/pack/plugins
nvim/dot-config/nvim/lua/serranomorante/binaries.lua

# Ignore ctags
tags
