lazygit/.config/lazygit/state.yml

# Ignore symlinks from systemd
systemd/.config/systemd/user/*.wants
systemd/.config/systemd/user/*session-manager.service
systemd/.config/systemd/user/*kwin_x11.service
