[user]
	email = serranomorantepatricio@gmail.com
	name = Patricio Serrano

[init]
	defaultBranch = main

[rerere]
	enabled = true

[core]
	editor = tmux select-window -t {start} && tmux select-pane -t {top-left} && nvr --nostart --remote-tab-wait-silent
