---
- name: "[archlinux] Setup exports: ensure export & index timers"
  ansible.builtin.systemd_service:
    scope: user
    name: "{{ item }}.timer"
    enabled: true
    masked: false
  loop:
    - every-2-hours-export@hpi-hypexport
    - promnesia-index
    - browserexport

- name: "[archlinux] Setup exports: ensure services"
  ansible.builtin.systemd_service:
    scope: user
    name: promnesia.service
    enabled: true
    masked: false

- name: "[archlinux] Setup exports: ensure services"
  become: true
  ansible.builtin.package:
    name: monolith
    state: present
