---
- block:
    - name: Setup note-taking utility packages
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 10-setup-note-taking-utilities.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["40-10"]

- block:
    - name: Setup HPI setup
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 20-setup-HPI.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["40-20"]

- block:
    - name: Setup PKM exports
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 30-setup-exports.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["40-30"]

- block:
    - name: Setup reading tools
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 40-setup-reading-tools.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["40-40"]
