[Unit]
Description=Browser export timer
Requires=browserexport.service

[Timer]
Persistent=true
OnBootSec=10min
OnUnitActiveSec=1h
Unit=browserexport.service

[Install]
WantedBy=timers.target
