# [Timer] Export browser history, hypothesis data, etc every 8 hours
[Unit]
Description=PKM %i export timer

[Timer]
Persistent=true
OnBootSec=1h
OnUnitActiveSec=8h
Unit=PKM-export@%i.service

[Install]
WantedBy=timers.target
