# [Timer] Export browser history, hypothesis data, etc every 2 hours
# %i is the name of a script that should be located at ~/bin
[Unit]
Description=PKM %i export timer

[Timer]
Persistent=true
OnBootSec=10min
OnUnitActiveSec=2h
Unit=PKM-export@%i.service

[Install]
WantedBy=timers.target
