# [Timer] Export browser history, hypothesis data, etc every hour
[Unit]
Description=PKM %i export timer

[Timer]
Persistent=true
OnBootSec=10min
OnUnitActiveSec=1h
Unit=PKM-export@%i.service

[Install]
WantedBy=timers.target
