[Unit]
Description=PKM %i export timer

[Timer]
Persistent=true
OnBootSec=10min
OnUnitActiveSec=2h
Unit=PKM-export@%i.service

[Install]
WantedBy=timers.target
