[Unit]
Description=Hypexport timer

[Timer]
Persistent=true
OnBootSec=10min
OnUnitActiveSec=2h
Unit=hypexport.service

[Install]
WantedBy=timers.target
