[Unit]
Description=Hypothesis self hosted
After=graphical-session.target

[Service]
WorkingDirectory=%h/data/repos/h
ExecStart=make dev
Restart=always

[Install]
WantedBy=graphical-session.target
