[Unit]
Description=Hypothesis self hosted
After=graphical-session.target

[Service]
WorkingDirectory=%h/data/repos/h
ExecStart=make dev --debug
Restart=always
MemoryAccounting=yes
MemoryHigh=1G
MemoryMax=2G

[Install]
WantedBy=graphical-session.target
