# [Service] Called by a timer (or by systemctl --user restart) to execute an export script
# For example, browser history export or hypothesis exports.
[Unit]
Description=PKM %i export service

[Service]
Type=oneshot
ExecStart=%h/bin/%i.sh
