[Unit]
Description=Promnesia browser extension backend
After=graphical-session.target

[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=%h/apps/PKM/.venv/bin/python3 -m promnesia serve --db %h/.local/share/promnesia/promnesia.sqlite --timezone Europe/Madrid --host 0.0.0.0 --port 13131
Type=simple
Restart=always
