# [Service] Called by a timer (or by systemctl --user restart) to perform a promnesia index
[Unit]
Description=Promnesia index

[Service]
Type=oneshot
ExecStart=%h/bin/promnesia index
