[Unit]
Description=Promnesia index timer
Requires=promnesia-index.service

[Timer]
Persistent=true
OnBootSec=10min
OnUnitActiveSec=1h
Unit=promnesia-index.service

[Install]
WantedBy=timers.target
