# [Timer] Perform a promnesia index on a timer basis
[Unit]
Description=Promnesia index timer

[Timer]
Persistent=true
OnBootSec=10min
OnUnitActiveSec=1h
AccuracySec=10min
RandomizedDelaySec=20min
Unit=promnesia-index.service

[Install]
WantedBy=timers.target
