# [Service] Called by a timer (or by systemctl --user restart) to perform a promnesia index
[Unit]
Description=Promnesia index

[Service]
Type=oneshot
Slice=pim-batch.slice
MemoryAccounting=yes
IOAccounting=yes
Nice=15
IOSchedulingClass=idle
IOWeight=50
CPUQuota=50%
Environment="FJ_PY_PROFILE=fj-py-promnesia.profile"
ExecStart=%h/bin/fj-py online %h/data/apps/PKM -- %h/bin/promnesia index
