# {{ ansible_managed }}
[Desktop Entry]
Name=AudioGridderServer [FIREJAIL]
Exec={{ ansible_facts.env.HOME }}/.local/bin/launch-audiogridder-wine
Type=Application
Terminal=false
StartupNotify=true
Icon=05B9_AudioGridderServer.0
StartupWMClass=audiogridderserver.exe
