[Unit]
Description=Start chromium as debugger
After=graphical-session.target

[Service]
ExecStartPre=/usr/bin/sleep 3
ExecStart=/usr/bin/chromium --remote-debugging-port=9222 --load-extension={% for item in browser_local_extensions if (item.hide is not defined) or (not item.hide) %}{{ item.path }}{% if not loop.last %},{% endif %}{% endfor %}

[Install]
WantedBy=graphical-session.target
