# {{ ansible_managed }}
[Desktop Entry]
Name=(debug) REAPER [LINUX]
Exec={{ ansible_facts.env.HOME }}/.local/bin/launch-reaper-linux
Type=Application
StartupNotify=true
Icon=3716_reaper.0
StartupWMClass=reaper.exe
