[Unit]
Description=tmux session for overseer tasks
Before=plasma-workspace.target

[Service]
Type=forking
ExecStart=/usr/bin/tmux -L overseer -f %h/.config/tmux/tmuxnvim.conf new-session -s default -d
ExecStop=/usr/bin/tmux -L overseer -f %h/.config/tmux/tmuxnvim.conf kill-session -t default

[Install]
WantedBy=plasma-workspace.target
