[Unit]
Description=tmux session for user
Before=plasma-workspace.target

[Service]
Type=forking
ExecStart=/usr/local/bin/tmux new-session -s default -d
ExecStop=/usr/local/bin/tmux kill-session -t default

[Install]
WantedBy=plasma-workspace.target
