[Unit]
Description=Periodically check display scanout health

[Timer]
OnStartupSec=45s
OnUnitActiveSec=2min
AccuracySec=5s
Unit=display-health-check.service

[Install]
WantedBy=timers.target
