[Unit]
Description=Notify about configured System Health events
After=graphical-session.target system-spike-watch.service
Wants=system-spike-watch.service

[Service]
ExecStart=%h/bin/dotfiles-health-notify run
Restart=on-failure
RestartSec=5s
Nice=15
IOSchedulingClass=idle
MemoryMax=128M

[Install]
WantedBy=graphical-session.target
