[Unit]
Description=Periodically update Foam system spike report

[Timer]
OnStartupSec=5min
OnUnitActiveSec=1h
AccuracySec=5min
Persistent=true
Unit=dotfiles-spikes.service

[Install]
WantedBy=timers.target
