[Unit]
Description=Publish laptop LAN address to phone2

[Service]
Type=oneshot
ExecStart=%h/bin/send-ifconfig phone2

[Install]
WantedBy=default.target
