---
- name: "[archlinux] Setup database tools: ensure aur packages"
  become: true
  become_user: aur_builder
  aur:
    use: yay
    state: present
    name: postgresql

- name: "[archlinux] Setup database tools: ensure database cluster folder"
  become: true
  ansible.builtin.file:
    state: directory
    path: ~/apps/db/postgresql/data
    recurse: true
    owner: postgres
    group: postgres

- name: "[archlinux] Setup database tools: register if initialized"
  become: true
  ansible.builtin.stat:
    path: /var/lib/postgres/data/pg_hba.conf
  register: postgres_cluster_data

- name: "[archlinux] Setup database tools: initdb"
  become: true
  become_user: postgres
  ansible.builtin.command: initdb --locale=C.UTF-8 --encoding=UTF8 -D /var/lib/postgres/data --data-checksums
  args:
    creates: /var/lib/postgres/data/pg_hba.conf
  # notify: "20-dev-tools : handler_ensure_postgres_service"
  when: not postgres_cluster_data.stat.exists
