---
- name: "[archlinux] Setup ai tools: ensure mcp servers"
  ansible.builtin.shell: >
    source ~/.bashrc &&
    {{ ansible_env.HOME }}/.volta/bin/volta run --node {{ node_system_default_version }} $({{ ansible_env.HOME }}/.volta/bin/volta which npm) install --global {{
    item.name }}@{{ item.version | default('latest') }}
  changed_when: true
  when: fact_npm_global_outdated[item.name] is defined or fact_npm_global_installed.dependencies[item.name] is undefined
  loop:
    - name: mcp-hub
    - name: figma-developer-mcp
    - name: "@anthropic-ai/claude-code"
    - name: "@google/gemini-cli"
    - name: chrome-devtools-mcp
    - name: playwright
    - name: "@playwright/mcp"
    - name: mcp-figma-comment-summary
    - name: "@upstash/context7-mcp"

- name: "[archlinux] Setup ai tools: register playwright path"
  ansible.builtin.command: "{{ ansible_env.HOME }}/.volta/bin/volta run --node '{{ node_system_default_version }}' which playwright"
  register: var_playwright_global_path
  changed_when: false

- name: "[archlinux] Setup ai tools: symlink playwright"
  ansible.builtin.file:
    state: link
    src: "{{ var_playwright_global_path.stdout }}"
    dest: ~/bin/playwright

- name: "[archlinux] Setup ai tools: execute playwright install"
  ansible.builtin.shell: |
    source ~/.bashrc
    ~/bin/playwright install
  environment:
    PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
  args:
    creates: ~/.cache/ms-playwright/chromium-*/INSTALLATION_COMPLETE

- name: "[archlinux] Setup ai tools: clone reaper mcp"
  ansible.builtin.git:
    repo: https://github.com/dschuler36/reaper-mcp-server
    dest: "{{ reaper_mcp_server_setup.repo_path }}"
    version: main

- name: "[archlinux] Setup ai tools: ensure reaper-mcp-server"
  ansible.builtin.shell: uv venv --seed && uv pip install . && uv pip install uv
  args:
    creates: "{{ reaper_mcp_server_setup.repo_path }}/.venv/bin/activate"
    chdir: "{{ reaper_mcp_server_setup.repo_path }}"

- name: "[archlinux] Setup ai tools: register figma api key"
  ansible.builtin.command: kwallet-query --folder {{ folder }} --read-password {{ passkey }} {{ wallet }}
  changed_when: true
  register: mcp_server_figma_key
  ignore_errors: true
  vars:
    folder: "{{ figma_mcp_server_setup.keyrings.folder }}"
    passkey: "{{ figma_mcp_server_setup.keyrings.passkey }}"
    wallet: "{{ figma_mcp_server_setup.keyrings.wallet }}"

- name: "[archlinux] Setup ai tools: register playwright_mcp_browser_key"
  ansible.builtin.command: kwallet-query --folder {{ folder }} --read-password {{ passkey }} {{ wallet }}
  changed_when: true
  register: var_playwright_mcp_browser_key
  ignore_errors: true
  vars:
    folder: "{{ playwright_mcp_server_setup.keyrings.folder }}"
    passkey: "{{ playwright_mcp_server_setup.keyrings.passkey }}"
    wallet: "{{ playwright_mcp_server_setup.keyrings.wallet }}"

- name: "[archlinux] Setup ai tools: create dest folder"
  ansible.builtin.file:
    path: ~/.config/mcphub
    state: directory
    mode: "744"

- name: "[archlinux] Setup ai tools: generate servers.json"
  ansible.builtin.template:
    src: mcphub_servers.json
    dest: ~/.config/mcphub/servers.json
    mode: "644"
  register: var_mcp_hub_servers_json

- name: "[archlinux] Setup ai tools: restart server list"
  ansible.builtin.command: ~/bin/nvim --headless -c "lua require("mcphub").get_hub_instance():restart()" -c "quit"
  changed_when: true
  when: var_mcp_hub_servers_json.changed
