---
- name: "[debian] Setup rust: ensure folder exists"
  ansible.builtin.file:
    state: directory
    path: "{{ item }}"
    mode: "755"
  loop:
    - ~/data/apps
    - ~/data/apps/lang-tools
    - ~/data/apps/lang-tools/rust

- name: "[debian] Setup rust: unzip, unrar, unarchive rust"
  ansible.builtin.unarchive:
    src: https://static.rust-lang.org/dist/rust-{{ rust_version }}-x86_64-unknown-linux-gnu.tar.gz
    dest: ~/data/apps/lang-tools/rust
    remote_src: true

# - name: "[debian] Setup rust: symlink rust tools"
#   ansible.builtin.file:
#     src: ~/data/apps/lang-tools/rust/rust-{{ rust_version }}-x86_64-unknown-linux-gnu/{{ item }}/bin/{{ item }}
#     dest: ~/bin/{{ item }}
#     state: link
#   loop:
#     - rustc
#     - cargo

- name: "[debian] Setup rust: add rust to console startup scripts"
  ansible.builtin.blockinfile:
    dest: "{{ item.script }}"
    create: true
    marker: "## {mark} ANSIBLE MANAGED BLOCK - SETUP RUST"
    mode: "744"
    block: |
      {% if 'bashrc' in item.script %}
      export PATH="$HOME/data/apps/lang-tools/rust/rust-{{ rust_version }}-x86_64-unknown-linux-gnu/rustc/bin:$PATH"
      export PATH="$HOME/data/apps/lang-tools/rust/rust-{{ rust_version }}-x86_64-unknown-linux-gnu/cargo/bin:$PATH"
      {% endif %}
  loop:
    - { script: ~/.bashrc }
