---
# https://github.com/pyenv/pyenv/wiki#suggested-build-environment
- name: "[archlinux] Setup python: ensure build dependencies"
  become: true
  ansible.builtin.package:
    state: present
    name:
      - pyenv
      - base-devel
      - openssl
      - zlib
      - xz
      - tk
      - uv

- name: "[archlinux] Setup python: register pyenv binary"
  ansible.builtin.command: which pyenv
  register: pyenv_executable
  changed_when: false

- name: "[archlinux] Setup python: ensure startup setup scripts"
  ansible.builtin.blockinfile:
    dest: "{{ item.script }}"
    marker: "## {mark} ANSIBLE MANAGED BLOCK - SETUP PYTHON"
    create: true
    mode: "744"
    block: |
      {% if 'dot-bashrc' in item.script %}
      export PYENV_ROOT="$HOME/.pyenv"
      export PATH="{{ pyenv_executable.stdout }}:$PATH"
      eval "$(pyenv init -)"
      {% endif %}
  loop:
    - { script: ~/dotfiles/home/dot-bashrc }

- name: "[archlinux] Setup python: ensure python versions"
  ansible.builtin.command: pyenv install --skip-existing {{ item }}
  loop:
    - 3.11.2
    - 3.11.3
  changed_when: true
  timeout: 0

- name: "[archlinux] Setup python: ensure python system default"
  ansible.builtin.command: pyenv global 3.11.3
  changed_when: true

- name: "[archlinux] Setup python: upgrade pip default"
  ansible.builtin.command: pyenv exec pip install --upgrade pip
  changed_when: true
