---
- name: "[archlinux] Python tools: ensure virtualenv python packages"
  ansible.builtin.pip:
    name:
      - pip
      - hatch
      - poetry
    virtualenv: ~/data/apps/python-tools/.venv
    virtualenv_command: /usr/bin/python3 -m venv
    state: present

- name: "[archlinux] Python tools: symlink python tools"
  ansible.builtin.file:
    src: ~/data/apps/python-tools/.venv/bin/{{ item }}
    dest: ~/bin/{{ item }}
    state: link
  loop:
    - hatch
    - poetry
