---
- name: "[debian] Neovim: ensure Neovim - clone"
  ansible.builtin.git:
    repo: https://github.com/neovim/neovim.git
    dest: ~/data/repos/neovim
    force: true
    depth: 1
    single_branch: true
    version: "{{ debian_neovim_version }}"

- name: "[debian] Neovim: apply patches to neovim"
  ansible.builtin.command: git apply ~/dotfiles/assets/patches/nvim/{{ item.patch_filename }}
  args:
    chdir: ~/data/repos/neovim
  loop:
    - patch_filename: msg_limit.patch
  changed_when: false

- name: "[debian] Neovim: ensure neovim - build"
  ansible.builtin.command: make
  environment:
    CMAKE_BUILD_TYPE: RelWithDebInfo
  args:
    chdir: ~/data/repos/neovim
    creates: ~/data/repos/neovim/build/bin/nvim
