---
- name: "[archlinux] Neovim: ensure Neovim - clone"
  ansible.builtin.git:
    repo: https://github.com/neovim/neovim
    dest: ~/data/repos/neovim
    force: true
    single_branch: true
    version: "{{ archlinux_neovim_version }}"

- name: "[archlinux] Neovim: ensure neovim build dependencies"
  become: true
  ansible.builtin.package:
    state: present
    name:
      - cmake
      - ninja
      - ccache # recommended here: https://github.com/neovim/neovim/issues/26979#issuecomment-1885240317

- name: "[archlinux] Neovim: remove .deps"
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - "{{ ansible_env.HOME }}/data/repos/neovim/.deps"
    - /usr/local/share/nvim/runtime
    # - ~/data/repos/neovim/build

- name: "[archlinux] Neovim: ensure neovim - build"
  ansible.builtin.shell: >
    make CMAKE_BUILD_TYPE=RelWithDebInfo CMAKE_INSTALL_PREFIX={{ ansible_env.HOME }}/.local &&
    make install
  environment:
    CCACHE_DISABLE: true
  args:
    chdir: ~/data/repos/neovim
    creates: ~/data/repos/neovim/build/bin/nvim
  timeout: 0
