---
- name: "[archlinux] Editor tools: ensure nvim plugins"
  ansible.builtin.git:
    repo: https://github.com/{{ item.repo }}
    dest: ~/.local/share/nvim/site/pack/plugins/{{ item.folder }}/{{ item.name | default(item.repo) | basename }}
    single_branch: true
    force: true
    depth: 100
    version: "{{ item.version | default('HEAD') }}"
  async: 1000
  poll: 0
  loop: "{{ neovim_plugins }}"
  register: var_async_clone_nvim_plugins

- name: "[archlinux] Editor tools: wait for async clone nvim plugins"
  ansible.builtin.async_status:
    jid: "{{ item.ansible_job_id }}"
  register: var_job_result
  until: var_job_result is finished
  retries: 100
  delay: 10
  loop: "{{ var_async_clone_nvim_plugins.results }}"

- name: "[archlinux] Editor tools: build lookup of nvim plugin results by repo (init)"
  ansible.builtin.set_fact:
    nvim_plugin_result_by_repo: {}

- name: "[archlinux] Editor tools: build lookup of nvim plugin results by repo"
  ansible.builtin.set_fact:
    nvim_plugin_result_by_repo: "{{ nvim_plugin_result_by_repo | default({}) | combine({item.item.item.repo: item}) }}"
  loop: "{{ var_job_result.results }}"

- name: "[archlinux] Editor tools: ensure aur packages"
  become: true
  become_user: aur_builder
  aur:
    use: yay
    state: present
    name:
      - ctags-git
  timeout: 0

- name: "[archlinux] Editor tools: create treesitter tempdir"
  ansible.builtin.tempfile:
    state: directory
    suffix: treesitter_tempdir
  register: treesitter_tempdir

- name: "[archlinux] Editor tools: download treesitter CLI"
  ansible.builtin.get_url:
    url: https://github.com/tree-sitter/tree-sitter/releases/download/v{{ archlinux_treesitter_version }}/tree-sitter-linux-x64.gz
    dest: "{{ treesitter_tempdir.path }}/"
    force: true
    mode: "755"

- name: "[archlinux] Editor tools: uncompress treesitter (.gz no supported)"
  ansible.builtin.command: gunzip -d {{ treesitter_tempdir.path }}/tree-sitter-linux-x64.gz
  args:
    creates: "{{ treesitter_tempdir.path }}/tree-sitter-linux-x64"

- name: "[archlinux] Editor tools: install treesitter CLI"
  ansible.builtin.copy:
    src: "{{ treesitter_tempdir.path }}/tree-sitter-linux-x64"
    dest: ~/bin/tree-sitter
    mode: "755"

- name: "[archlinux] Editor tools: clone treesitter parsers"
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: ~/repos/{{ item.repo | basename }}
    version: "{{ item.version | default('HEAD') }}"
    depth: 1
    force: true
    single_branch: true
  loop: "{{ treesitter_parsers }}"

- name: "[archlinux] Editor tools: build treesitter parsers"
  ansible.builtin.command: ~/bin/tree-sitter build -o ~/repos/{{ item.repo | basename }}/{{ item.filetype }}.so
  args:
    creates: ~/repos/{{ item.repo | basename }}/{{ item.filetype }}.so
    chdir: ~/repos/{{ item.repo | basename }}/{{ item.build_folder | default(None) }}
  loop: "{{ treesitter_parsers }}"

- name: "[archlinux] Editor tools: ensure nvim treesitter folders"
  ansible.builtin.file:
    path: ~/.config/nvim/{{ item }}
    state: directory
    mode: "755"
  loop:
    - parser
    - queries

- name: "[archlinux] Editor tools: copy treesitter parsers to nvim"
  ansible.builtin.copy:
    src: ~/repos/{{ item.repo | basename }}/{{ item.filetype }}.so
    dest: ~/.config/nvim/parser/{{ item.filetype }}.so
    mode: "755"
  loop: "{{ treesitter_parsers }}"

- name: "[archlinux] Editor tools: copy treesitter queries to nvim"
  ansible.builtin.copy:
    src: ~/repos/{{ item.repo | basename }}/queries/
    dest: ~/.config/nvim/queries/{{ item.filetype }}/
    mode: "755"
  loop: "{{ treesitter_parsers }}"

# Create this entry kdewallet/neovim/intelephense using kwalletmanager
- name: "[archlinux] Editor tools: setup intelephense key if available"
  ansible.builtin.shell: |
    mkdir -p ~/intelephense
    {{ kwallet_query_cmd }} && echo "$({{ kwallet_query_cmd }})" > ~/intelephense/licence.txt
  vars:
    folder_entry: intelephense
    wallet_name: kdewallet
    folder_name: neovim
    kwallet_query_cmd: kwallet-query -r {{ folder_entry }} {{ wallet_name }} -f {{ folder_name }}
  args:
    creates: ~/intelephense/licence.txt
  ignore_errors: true

- name: "[archlinux] Editor tools: apply patches to nvim plugins"
  ansible.posix.patch:
    src: "{{ item.patch }}"
    basedir: "{{ item.basedir }}"
    strip: 1
  loop:
    - basedir: ~/.local/share/nvim/site/pack/plugins/start/overseer
      patch: overseer.nvim.patch
  when: "(nvim_plugin_result_by_repo['stevearc/overseer.nvim'] | default({})).changed | default(false)"

- name: "[archlinux] Editor tools: generate helptags"
  ansible.builtin.command: ~/bin/nvim --headless -c "helptags ALL" -c "quit"
  changed_when: false

- name: "[archlinux] Editor tools: update treesitter parsers"
  ansible.builtin.command: ~/bin/nvim --headless -c "TSUpdate" -c "sleep 60" -c "quit!"
  changed_when: "(nvim_plugin_result_by_repo['nvim-treesitter/nvim-treesitter'] | default({})).changed | default(false)"
  when: "(nvim_plugin_result_by_repo['nvim-treesitter/nvim-treesitter'] | default({})).changed | default(false)"

- name: "[archlinux] Editor tools: update coc extensions"
  ansible.builtin.command: ~/bin/nvim --headless -c "CocStart" -c "sleep 2" -c "CocUpdate" -c "sleep 60" -c "quit!"
  changed_when: "(nvim_plugin_result_by_repo['neoclide/coc.nvim'] | default({})).changed | default(false)"
  when: "(nvim_plugin_result_by_repo['neoclide/coc.nvim'] | default({})).changed | default(false)"
