---
- name: "[macosx] Dotfiles: ensure nvim pack folder"
  ansible.builtin.file:
    state: directory
    path: "{{ item }}"
    mode: "755"
  loop:
    - ~/.config
    - ~/.config/nvim
    - ~/.config/nvim/pack/

- name: "[macosx] Editor tools: ensure nvim plugins"
  ansible.builtin.git:
    repo: https://github.com/{{ item.repo }}
    dest: ~/.local/share/nvim/site/pack/plugins/{{ item.folder }}/{{ item.name | default(item.repo) | basename }}
    single_branch: true
    depth: 10
    version: "{{ item.version | default('HEAD') }}"
    force: true
  async: 1000
  poll: 0
  loop: "{{ neovim_plugins }}"
