---
- name: "[archlinux] Plantuml compiled jar: Create ~/data/plantuml folder"
  ansible.builtin.file:
    state: directory
    path: "{{ item }}"
    mode: "755"
  loop:
    - ~/data
    - ~/data/plantuml

- name: "[archlinux] Plantuml compiled jar: ensure file in location"
  ansible.builtin.get_url:
    url: https://github.com/plantuml/plantuml/releases/download/v{{ plantuml_compiled_jar_version }}/plantuml-{{ plantuml_compiled_jar_version }}.jar
    dest: ~/data/plantuml/plantuml.jar
    mode: "744"
