[Unit]
Description=Start X compositor
After=graphical-session.target

[Service]
ExecStart=/usr/bin/picom

[Install]
WantedBy=graphical-session.target
