[Unit]
Description=Run %i root backup every 8 hours

[Timer]
Persistent=true
OnBootSec=10min
OnUnitActiveSec=8h
AccuracySec=15min
RandomizedDelaySec=45min
Unit=borg-root-backup@%i.service

[Install]
WantedBy=timers.target
