[Unit]
Description=Notify readline mode
After=graphical.target

[Service]
ExecStart=/usr/local/bin/readline-mode-watcher.sh
Environment="DISPLAY=:0"
Environment="XAUTHORITY={{ ansible_env.HOME }}/.Xauthority"
Environment="HOME={{ ansible_env.HOME }}"
User=root
Group=root

[Install]
WantedBy=graphical.target
