[Unit]
Description=Start easystroke service
After=plasma-workspace.target

[Service]
ExecStart=/usr/local/bin/easystroke -v
Environment="DISPLAY=:0"
Environment="XAUTHORITY=%h/.Xauthority"
Restart=always

[Install]
WantedBy=plasma-workspace.target
