[Unit]
Description=Start easystroke service
After=graphical-session.target

[Service]
ExecStart=/usr/local/bin/easystroke

[Install]
WantedBy=graphical-session.target
