[Unit]
Description=Keyboard repeat rate in tty.
After=plasma-workspace.target

[Service]
Type=oneshot
ExecStart=%h/bin/configure-keyboard.sh
Environment="DISPLAY=:0"
Environment="XAUTHORITY=%h/.Xauthority"

[Install]
WantedBy=plasma-workspace.target
