[Unit]
Description=Keyboard repeat rate in tty.
After=plasma-workspace.target

[Service]
ExecStart=%h/bin/configure-keyboard.sh

[Install]
WantedBy=plasma-workspace.target
