[Unit]
Description=Keyboard MIDI controller daemon
After=graphical-session.target

[Service]
Environment="PIPEWIRE_PROPS={ node.lock-quantum=false }"
ExecStart=%h/bin/keyboard-midi-controller run
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=graphical-session.target
