[Unit]
Description=mouseless
After=graphical-session.target

[Service]
ExecStartPre=%h/bin/setup-mouseless-devices.sh "keyd virtual keyboard"
ExecStartPre=%h/bin/setup-mouseless-devices.sh "PFU Limited HHKB-Hybrid Keyboard"
ExecStartPre=%h/bin/setup-mouseless-devices.sh "Logitech MX Keys"
ExecStartPre=%h/bin/setup-mouseless-devices.sh "HHKB-Hybrid_1 Keyboard"
ExecStart=/usr/local/bin/mouseless --config %h/.config/mouseless/config.yaml

[Install]
WantedBy=graphical-session.target
