[Unit]
Description=Mouseless.click service
After=graphical-session.target

[Service]
ExecStart=%h/apps/keyboard-tools/Mouseless.AppImage

[Install]
WantedBy=graphical-session.target
