[Unit]
Description=Configure my Wacom tablet
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/sleep 0.15
ExecStart=%h/bin/wacom-config.sh

[Install]
WantedBy=graphical-session.target
