[Unit]
Description=Start weylus
After=graphical-session.target

[Service]
ExecStart=/usr/bin/weylus --no-gui --try-nvenc --custom-lib-js %h/repos/Weylus/www/static/lib.js
Restart=on-failure

[Install]
WantedBy=graphical-session.target
