---
- name: "[archlinux] Markdown language: register texlive group" # exclude fontsextra to save disk space
  become: true
  ansible.builtin.shell: >
    set -o pipefail &&
    pacman -Sg texlive | grep -v fontsextra | cut -d " " -f 2
  changed_when: false
  register: texlive_group_pkgs

- name: "[archlinux] Markdown language: ensure packages"
  become: true
  ansible.builtin.package:
    state: present
    name:
      - marksman
      - mdcat

- name: "[archlinux] Markdown language: ensure aur texlive"
  become: true
  ansible.builtin.package:
    state: present
    name: "{{ texlive_group_pkgs.stdout | regex_findall('(.*)\n') }}" # necessary to make pdflatex work

- name: "[archlinux] Markdown language: ensure xelatex is installed"
  become: true
  ansible.builtin.package:
    state: present
    name: texlive-xetex

- name: "[archlinux] Markdown language: ensure aur packages"
  become: true
  become_user: aur_builder
  aur:
    use: yay
    state: present
    name: mathjax
    aur_only: true

- name: "[archlinux] Markdown language: ensure npm packages"
  ansible.builtin.shell: >
    source ~/.bashrc &&
    {{ ansible_env.HOME }}/.volta/bin/volta run --node {{ node_system_default_version }}
    $({{ ansible_env.HOME }}/.volta/bin/volta which npm) install --global {{ item.package }}@latest
  changed_when: true
  # if not installed or if not updated
  when: fact_npm_global_outdated[item.package] is defined or fact_npm_global_installed.dependencies[item.package] is undefined
  loop:
    - { package: "@mermaid-js/mermaid-cli", name: mmdc }
    - { package: mermaid-filter }
    - { package: mathjax-pandoc-filter }
    - { package: markdownlint-cli, name: markdownlint }

- name: "[archlinux] Markdown language: ensure virtualenv packages"
  ansible.builtin.pip:
    name:
      - pip
      - weasyprint
      - mdformat
      - mdformat-gfm
      - mdformat_footnote
      - mdformat-frontmatter
      - mdformat-web
      - mdformat-wikilink
    virtualenv: ~/data/apps/note-taking-tools/utilities/.venv
    virtualenv_command: /usr/bin/python3 -m venv
    state: present

- name: "[archlinux] Markdown language: symlink virtualenv packages"
  ansible.builtin.file:
    src: ~/data/apps/note-taking-tools/utilities/.venv/bin/{{ item }}
    dest: ~/bin/{{ item }}
    state: link
  loop:
    - mdformat
    - weasyprint
