---
- name: "[archlinux] Go language: ensure packages"
  become: true
  ansible.builtin.package:
    state: present
    name:
      - gopls
      - delve

- name: "[archlinux] Go language: clone vscode-go"
  ansible.builtin.git:
    repo: https://github.com/golang/vscode-go
    dest: ~/data/repos/vscode-go
    depth: 1
    single_branch: true
    version: release-v{{ vscode_go_version }}

- name: "[archlinux] Go language: install vscode-go"
  ansible.builtin.shell: |
    source ~/.bashrc
    $({{ ansible_env.HOME }}/.volta/bin/volta which npm) ci
    $({{ ansible_env.HOME }}/.volta/bin/volta which npm) run compile
  args:
    chdir: ~/data/repos/vscode-go/extension
  changed_when: false
