---
- name: "[archlinux] Javascript language: ensure eslint_d"
  ansible.builtin.shell: >
    source ~/.bashrc &&
    {{ ansible_facts.env.HOME }}/.volta/bin/volta run --node {{ node_system_default_version }}
    $({{ ansible_facts.env.HOME }}/.volta/bin/volta which npm) install --global {{ item.name }}@{{ item.version | default('latest') }}
  changed_when: fact_npm_global_outdated[item.name] is defined or fact_npm_global_installed.dependencies[item.name] is undefined
  when: fact_npm_global_outdated[item.name] is defined or fact_npm_global_installed.dependencies[item.name] is undefined
  loop:
    - name: eslint
    - name: eslint_d
    - name: js-beautify

- name: "[archlinux] Javascript language: ensure FORMATTERS (using aur)"
  become: true
  become_user: aur_builder
  aur:
    use: yay
    state: present
    name: prettierd

- name: "[archlinux] Javascript language: clone vscode-js-debug"
  ansible.builtin.git:
    repo: https://github.com/microsoft/vscode-js-debug.git
    dest: ~/data/repos/vscode-js-debug
    depth: 1
    force: true
    single_branch: true
    version: v{{ vscode_js_debug_version }}

- name: "[archlinux] Javascript language: apply custom patch"
  ansible.builtin.command: git apply ~/dotfiles/assets/patches/vscode_js_debug_stderr.patch
  args:
    chdir: ~/data/repos/vscode-js-debug
  changed_when: false

- name: "[archlinux] Javascript language: install vscode-js-debug"
  ansible.builtin.shell: |
    source ~/.bashrc
    $({{ ansible_facts.env.HOME }}/.volta/bin/volta which npm) ci
    $({{ ansible_facts.env.HOME }}/.volta/bin/volta which npx) gulp dapDebugServer
  args:
    chdir: ~/data/repos/vscode-js-debug
    creates: ~/data/repos/vscode-js-debug/dist/src/dapDebugServer.js
