---
- name: "[archlinux] Fish language: register fish-lsp"
  ansible.builtin.command: ~/bin/fish-lsp --version
  register: fish_lsp_available
  ignore_errors: true
  changed_when: false

- name: "[archlinux] Fish language: ensure LSP - clone fish-lsp"
  ansible.builtin.git:
    repo: https://github.com/ndonfris/fish-lsp.git
    dest: ~/repos/fish-lsp
    single_branch: true
    depth: 1
    force: true
    version: master
  when: fish_lsp_available is failed

- name: "[archlinux] Fish language: ensure LSP - install fish-lsp"
  ansible.builtin.command: yarn install
  args:
    chdir: ~/repos/fish-lsp
  when: fish_lsp_available is failed
  changed_when: false

- name: "[archlinux] Fish language: ensure LSP - symlink fish-lsp"
  ansible.builtin.file:
    src: ~/repos/fish-lsp/bin/fish-lsp
    dest: ~/bin/fish-lsp
    state: link
  when: fish_lsp_available is failed
