---
- name: "[archlinux] Python language: ensure pylsp venv"
  ansible.builtin.pip:
    name:
      - pip
      - python-lsp-server
      - pydocstyle
      - pylsp-mypy
      - python-lsp-ruff # disables pycodestyle, pyflakes, mccabe, autopep8, yapf
    virtualenv: ~/data/apps/lang-tools/pylsp/.venv
    virtualenv_command: /usr/bin/python3 -m venv
    state: present

- name: "[archlinux] Python language: ensure debugpy venv"
  ansible.builtin.pip:
    name:
      - pip
      - debugpy
    virtualenv: ~/data/apps/lang-tools/debugpy/.venv
    virtualenv_command: /usr/bin/python3 -m venv
    state: present

- name: "[archlinux] Python language: ensure python tools"
  ansible.builtin.pip:
    name:
      - pip
      - cookiecutter
    virtualenv: ~/data/apps/lang-tools/python-tools/.venv
    virtualenv_command: /usr/bin/python3 -m venv
    state: present

- name: "[archlinux] Python language: ensure symlinks"
  ansible.builtin.file:
    src: ~/data/apps/lang-tools/{{ item.dir }}/.venv/bin/{{ item.bin }}
    dest: ~/bin/{{ item.bin }}
    state: link
  loop:
    - { dir: python-tools, bin: cookiecutter }
    - { dir: debugpy, bin: debugpy }
    - { dir: pylsp, bin: pylsp }
