---
- name: "[archlinux] Wine tools: get gather town"
  ansible.builtin.get_url:
    url: https://downloads.gather.town/desktop/Gather-{{ arch_gather_wine_setup.version }}-Setup.exe
    dest: ~/Downloads
    mode: "755"

- name: "[archlinux] Wine tools: install gather town"
  ansible.builtin.command: wine start /unix '{{ arch_gather_wine_setup.backup_path }}/Gather-{{ arch_gather_wine_setup.version }}-Setup.exe'
  timeout: 60
  environment:
    WINEPREFIX: "{{ arch_gather_wine_setup.wine_prefix }}"
  args:
    creates: "{{ arch_gather_wine_setup.wine_prefix }}/drive_c/users/{{ ansible_env.USER }}/AppData/Roaming/Gather/config.json"
  when: is_x_display_session
