---
- name: "[archlinux] Wine tools: get reaper"
  ansible.builtin.get_url:
    url: https://www.reaper.fm/files/7.x/reaper{{ arch_reaper_wine_setup.version }}_x64-install.exe
    dest: "{{ arch_reaper_wine_setup.backup_path }}/reaper{{ arch_reaper_wine_setup.version }}_x64-install.exe"
    mode: "755"
  ignore_errors: true
  register: var_new_reaper_version_downloaded

- name: "[archlinux] Wine tools: install reaper"
  ansible.builtin.command: wine start /unix '{{ arch_reaper_wine_setup.backup_path }}/reaper{{ arch_reaper_wine_setup.version }}_x64-install.exe'
  timeout: 60
  environment:
    WINEPREFIX: "{{ arch_reaper_wine_setup.wine_prefix }}"
  changed_when: true
  register: var_install_reaper
  when: var_new_reaper_version_downloaded.changed and is_x_display_session

- block:
    - name: "[archlinux] Wine tools: wait until window closes: {{ window_query }}"
      ansible.builtin.shell: set -o pipefail && sleep {{ delay_n }} && wmctrl -lx | grep -oE {{ window_query }} | wc -l
      changed_when: true
      register: var_host_windows
      until: var_host_windows.stdout | int == 0
      delay: "{{ delay_n }}"
      retries: "{{ retries_n }}"
      failed_when: false
      notify: handler_kill_reaper_wineserver
      when: is_x_display_session and should_wait

    - name: flush_handlers
      ansible.builtin.meta: flush_handlers
  vars:
    window_query: explorer.exe
    # Defaults
    should_wait: "{{ var_install_reaper.changed }}"
    delay_n: "{{ arch_ansible_long_retries_config.delay_n }}"
    retries_n: "{{ arch_ansible_long_retries_config.retries_n }}"

- name: "[archlinux] Wine tools: setup reaper.desktop file"
  ansible.builtin.template:
    src: reaper.desktop
    dest: ~/.local/share/applications/
    mode: "644"
  notify: handler_update_desktop_database

- name: "[archlinux] Wine tools: check file exists"
  ansible.builtin.stat:
    path: "{{ arch_reaper_wine_setup.wine_prefix }}/drive_c/users/{{ ansible_env.USER }}/AppData/Roaming/REAPER/REAPER.ini"
  register: var_reaper_ini_file

- name: "[archlinux] Wine tools: clean some reaper settings"
  ansible.builtin.lineinfile:
    dest: "{{ arch_reaper_wine_setup.wine_prefix }}/drive_c/users/{{ ansible_env.USER }}/AppData/Roaming/REAPER/REAPER.ini"
    regexp: "^{{ item }}.*"
    state: absent
  loop:
    - splashimage=
    - uiscale=
    - win32hidpiv2=
    - win32hidpi=
  when: var_reaper_ini_file.stat.exists

- name: "[archlinux] Wine tools: ensure reaper UI scale"
  ansible.builtin.blockinfile:
    dest: "{{ arch_reaper_wine_setup.wine_prefix }}/drive_c/users/{{ ansible_env.USER }}/AppData/Roaming/REAPER/REAPER.ini"
    marker: "; {mark} ANSIBLE MANAGED BLOCK"
    insertafter: "^\\[reaper\\]"
    block: |
      splashimage=
      uiscale=1.29999995
      win32hidpiv2=0
      win32hidpi=2
  when: var_reaper_ini_file.stat.exists
