---
- name: "[archlinux] Wine tools: get sws extension"
  ansible.builtin.get_url:
    url: https://www.sws-extension.org/download/featured/sws-{{ arch_reaper_sws_extension_setup.version }}-Windows-x64.exe
    dest: ~/external/Downloads
    mode: "755"
  register: var_new_sws_extension_version_downloaded

- name: "[archlinux] Wine tools: install sws extension"
  ansible.builtin.command: wine start /unix '{{ arch_reaper_sws_extension_setup.backup_path }}/sws-{{ arch_reaper_sws_extension_setup.version }}-Windows-x64.exe'
  timeout: 60
  environment:
    WINEPREFIX: "{{ arch_reaper_wine_setup.wine_prefix }}"
  changed_when: true
  when: var_new_sws_extension_version_downloaded.changed and is_x_display_session
  register: var_sws_install

- block:
    - name: "[archlinux] Wine tools: wait until window closes: {{ window_query }}"
      ansible.builtin.shell: set -o pipefail && sleep {{ delay_n }} && wmctrl -lx | grep -oE {{ window_query }} | wc -l
      changed_when: true
      register: var_host_windows
      until: var_host_windows.stdout | int == 0
      delay: "{{ delay_n }}"
      retries: "{{ retries_n }}"
      failed_when: false
      notify: handler_kill_reaper_wineserver
      when: is_x_display_session and should_wait

    - name: flush_handlers
      ansible.builtin.meta: flush_handlers
  vars:
    window_query: sws.*\.exe
    # Defaults
    should_wait: "{{ var_sws_install.changed }}"
    delay_n: "{{ arch_ansible_long_retries_config.delay_n }}"
    retries_n: "{{ arch_ansible_long_retries_config.retries_n }}"

- name: "[archlinux] Wine tools: ensure custom script folder"
  ansible.builtin.file:
    state: directory
    recurse: true
    path: "{{ arch_reaper_wine_setup.wine_prefix }}/drive_c/users/{{ ansible_env.USER }}/AppData/Roaming/REAPER/Scripts/custom"

- name: "[archlinux] Wine tools: copy custom script"
  ansible.builtin.copy:
    src: ~/dotfiles/assets/scripts/reaper/alternate_position.lua
    dest: "{{ arch_reaper_wine_setup.wine_prefix }}/drive_c/users/{{ ansible_env.USER }}/AppData/Roaming/REAPER/Scripts/custom/"
    mode: "644"
