# {{ ansible_managed }}
[Unit]
Description=Hypothesis bouncer self hosted
After=graphical-session.target

[Service]
WorkingDirectory=%h/data/repos/bouncer
Environment="CHROME_EXTENSION_ID={{ local_hypothesis_extension }}"
Environment="HYPOTHESIS_URL=http://localhost:5000"
ExecStart=make dev
Restart=always

[Install]
WantedBy=graphical-session.target
