[defaults]
nocows = 1
force_color = True
task_timeout=300
fact_caching=redis
fact_caching_connection = 127.0.0.1:6379:0
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
inventory = ~/dotfiles/playbooks/inventory.ini
collections_path = ./collections
callbacks_enabled = ansible.posix.profile_tasks

[callback_profile_tasks]
datetime_format = %Y-%m-%d %H:%M:%S %z
task_output_limit = 20
sort_order = descending

[colors]
# black, bright gray4, blue, white, green, bright blue, cyan,
# bright green, red, bright cyan, purple, bright red, yellow,
# bright purple, dark gray, bright yellow, magenta, bright magenta, and normal
error = white
verbose = white
