---
- hosts: localhost
  gather_facts: false
  vars:
    user_os: "{{ ansible_distribution | lower | replace(' ', '') }}"

  pre_tasks:
    - name: "Setup playbook: get command arguments used to invoke ansible"
      get_argv:
      register: var_argv
      tags: always

    - name: "Setup playbook: gather facts conditionally"
      ansible.builtin.gather_facts:
      when: "'localhost' in var_argv.ansible_facts.argv"
      tags: always

    - name: "Setup playbook: populate service facts"
      ansible.builtin.service_facts:
      when: "'localhost' in var_argv.ansible_facts.argv"
      tags: always

  roles:
    # <An incremental number>--<Group multiple roles by this name>--<Anything else specific to this role>
    - role: 10--system--initial-setup
      tags: 10--system--initial-setup
