---
- hosts: localhost,all
  gather_facts: false
  vars:
    user_os: "{{ ansible_distribution | lower | replace(' ', '') }}"
    xorg_display_env_vars: DISPLAY=:0 XAUTHORITY={{ ansible_env.HOME }}/.Xauthority
    is_x_display_session: false

  pre_tasks:
    - name: "Setup playbook: get command arguments used to invoke ansible"
      get_argv:
      register: var_argv
      tags: always

    - name: "Setup playbook: gather facts conditionally"
      ansible.builtin.gather_facts:
      when: "'localhost' in var_argv.ansible_facts.argv"
      tags: always

    - name: "Setup roles: set var"
      ansible.builtin.stat:
        path: "{{ item }}"
      register: var_role_exists
      loop:
        - ../for-my-eyes-only/playbooks/roles/60-for-my-eyes-only/tasks/main.yml
        - ../for-my-eyes-only/playbooks/roles/70-for-my-eyes-only/tasks/main.yml
      tags: always

    - name: "Setup roles: set fact"
      ansible.builtin.set_fact:
        fact_roles: "{{ fact_roles | default({}) | combine({file: item.stat.exists}) }}"
      vars:
        file: "{{ item.item }}"
      loop: "{{ var_role_exists.results }}"
      tags: always

    - name: "[archlinux] Nvidia tools: check valid x session"
      ansible.builtin.shell: xhost >& /dev/null
      register: var_is_x_display_session
      changed_when: true
      ignore_errors: true
      tags: always

    - name: "[archlinux] Nvidia tools: set x display fact"
      ansible.builtin.set_fact:
        is_x_display_session: "{{ var_is_x_display_session.rc == 0 }}"
      tags: always

  roles:
    - role: 10-system-tools
      tags: 10-system-tools
    - role: 20-dev-tools
      tags: 20-dev-tools
    - role: 30-lang-tools
      tags: 30-lang-tools
    - role: 40-PKM
      tags: 40-PKM
    - role: 50-cloud-tools
      tags: 50-cloud-tools

  tasks:
    - name: Include 60-for-my-eyes-only if present
      ansible.builtin.include_role:
        name: ../for-my-eyes-only/playbooks/roles/60-for-my-eyes-only # noqa role-name[path]
        apply:
          tags: 60-for-my-eyes-only
      tags: always
      when: fact_roles['../for-my-eyes-only/playbooks/roles/60-for-my-eyes-only/tasks/main.yml']

    - name: Include 70-for-my-eyes-only if present
      ansible.builtin.include_role:
        name: ../for-my-eyes-only/playbooks/roles/70-for-my-eyes-only # noqa role-name[path]
        apply:
          tags: 70-for-my-eyes-only
      tags: always
      when: fact_roles['../for-my-eyes-only/playbooks/roles/70-for-my-eyes-only/tasks/main.yml']
