---
- hosts: localhost,all
  gather_facts: false
  vars:
    user_os: "{{ ansible_distribution | lower | replace(' ', '') }}"
    xorg_display_env_vars: DISPLAY=:0 XAUTHORITY={{ ansible_env.HOME }}/.Xauthority

  pre_tasks:
    - name: "Setup roles: set var"
      ansible.builtin.stat:
        path: "{{ item }}"
      register: var_role_exists
      loop:
        - ../for-my-eyes-only/playbooks/roles/60-for-my-eyes-only/tasks/main.yml
        - ../for-my-eyes-only/playbooks/roles/70-for-my-eyes-only/tasks/main.yml

    - name: "Setup roles: set fact"
      ansible.builtin.set_fact:
        fact_roles: "{{ fact_roles | default({}) | combine({file: item.stat.exists}) }}"
      vars:
        file: "{{ item.item }}"
      loop: "{{ var_role_exists.results }}"

  roles:
    - role: 10-system-tools
      tags: 10-system-tools
    - role: 20-dev-tools
      tags: 20-dev-tools
    - role: 30-lang-tools
      tags: 30-lang-tools
    - role: 40-PKM
      tags: 40-PKM
    - role: 50-cloud-tools
      tags: 50-cloud-tools

  tasks:
    - name: Include 60-for-my-eyes-only if present
      ansible.builtin.include_role:
        name: ../for-my-eyes-only/playbooks/roles/60-for-my-eyes-only # noqa role-name[path]
        apply:
          tags: 60-for-my-eyes-only
      when: fact_roles['../for-my-eyes-only/playbooks/roles/60-for-my-eyes-only/tasks/main.yml']

    - name: Include 70-for-my-eyes-only if present
      ansible.builtin.include_role:
        name: ../for-my-eyes-only/playbooks/roles/70-for-my-eyes-only # noqa role-name[path]
        apply:
          tags: 70-for-my-eyes-only
      when: fact_roles['../for-my-eyes-only/playbooks/roles/70-for-my-eyes-only/tasks/main.yml']
