---
- name: handler_ensure_hypothesis_self_hosted_service
  ansible.builtin.systemd_service:
    scope: user
    name: hypothesis-self-hosted.service
    enabled: true
    masked: false

- name: handler_ensure_hypothesis_bouncer_self_hosted_service
  ansible.builtin.systemd_service:
    scope: user
    name: hypothesis-bouncer-self-hosted.service
    enabled: true
    masked: false

- name: handler_ensure_backup_hypothesis_sql_service
  ansible.builtin.systemd_service:
    scope: user
    name: backup-hypothesis-sql.timer
    enabled: true
    masked: false
