[Desktop Entry]
Name=(tmux) REAPER
Exec=tmux -L reaper new-session -A -s reaper -c '/home/serranomorante/external/.wine-win64-reaper/dosdevices/c:/ProgramData/Microsoft/Windows/Start Menu/Programs/REAPER (x64)' sh -c "LC_ALL=C WINEPREFIX='/home/serranomorante/external/.wine-win64-reaper' wine 'C:/ProgramData/Microsoft/Windows/Start Menu/Programs/REAPER (x64)/REAPER (x64).lnk' || bash"
Type=Application
Terminal=true
StartupNotify=true
Icon=3716_reaper.0
StartupWMClass=reaper.exe
