[Desktop Entry]
Version=1.0
Type=Application
Name=(debug) DaVinci Resolve
GenericName=(debug) DaVinci Resolve
Comment=Revolutionary new tools for editing, visual effects, color correction and professional audio post production, all in a single application!
Path=/opt/resolve/
Exec=kitty --hold prime-run /opt/resolve/bin/resolve %u
Terminal=true
MimeType=application/x-resolveproj;
Icon=davinci-resolve.png
StartupNotify=true
Name[en_US]=tmux_DaVinci Resolve
StartupWMClass=resolve
