---
- name: "[archlinux] Setup desktop: populate service facts"
  ansible.builtin.service_facts:

- name: "[archlinux] Setup desktop: refresh pacman"
  become: true
  ansible.builtin.command: pacman -Sy
  changed_when: true

- name: "[archlinux] Setup desktop: ensure reflector"
  become: true
  ansible.builtin.package:
    name: reflector
    state: present

- name: "[archlinux] Setup desktop: setup reflector"
  become: true
  ansible.builtin.command: reflector --verbose --sort rate -l 20 -c Netherlands -c France --save /etc/pacman.d/mirrorlist
  ignore_errors: true
  changed_when: true

- name: "[archlinux] Setup desktop: ensure packages"
  # How to Dual Boot Arch Linux and Windows 11/10 [ 2022 ]
  # https://www.youtube.com/watch?v=JRdYSGh-g3s
  become: true
  ansible.builtin.package:
    state: present
    name:
      - obs-studio
      - linux-lts
      - xorg
      - xorg-xinit
      - plasma
      - plasma-x11-session
      - plasma-integration
      - sddm
      - dolphin
      - dolphin-plugins
      - ark
      - moreutils
      - unrar
      - jq
      - arch-install-scripts # to get genfstab
      - kcalc
      - trash-cli
      - docker
      - docker-compose
      - kronometer
      - kcolorchooser
      - vlc
      - vlc-plugins-all
      - arch-wiki-docs
      # - kde-applications
  timeout: 0
  notify: "10-system-tools : handler_ensure_docker_service"

- name: flush_handlers
  ansible.builtin.meta: flush_handlers

- name: "[archlinux] Setup desktop: add user to docker group"
  become: true
  ansible.builtin.user:
    append: true
    groups: docker
    name: "{{ ansible_env.USER }}"

- name: "[archlinux] Setup desktop: remove packages"
  become: true
  ansible.builtin.package:
    state: absent
    name: wacomtablet

- name: "[archlinux] Setup desktop: copy sddm Xsetup script"
  become: true
  ansible.builtin.template:
    src: "{{ ansible_env.HOME }}/dotfiles/assets/scripts/sddm/Xsetup"
    dest: /usr/share/sddm/scripts/Xsetup
    owner: root
    mode: "744"

- name: "[archlinux] Setup desktop: ensure sddm service"
  become: true
  ansible.builtin.systemd_service:
    scope: system
    name: "{{ item.name }}"
    enabled: "{{ item.enabled }}"
    masked: "{{ item.masked }}"
  loop:
    - { name: sddm.service, enabled: true, masked: false }
    - { name: NetworkManager-wait-online.service, state: stopped, enabled: false, masked: true }

- name: "[archlinux] Setup desktop: register pinentry"
  ansible.builtin.command: which pinentry-tty
  register: var_pinentry_tty_path
  changed_when: false

- name: "[archlinux] Setup desktop: setup gnugp"
  ansible.builtin.blockinfile:
    marker: "## {mark} ANSIBLE MANAGED BLOCK - SETUP GNUGP"
    insertafter: "EOF"
    dest: ~/dotfiles/gnupg/dot-gnupg/gpg-agent.conf
    mode: "700"
    block: |
      pinentry-program {{ var_pinentry_tty_path.stdout }}
      default-cache-ttl 34560000
      max-cache-ttl 34560000

- name: "[archlinux] Setup desktop: ignore packages from pacman"
  become: true
  ansible.builtin.blockinfile:
    dest: /etc/pacman.conf
    insertafter: "^\\[options\\]"
    marker: "## {mark} ANSIBLE MANAGED BLOCK - IGNORE PACKAGES"
    block: |
      # IgnorePkg = wine-staging davinci-resolve
      IgnorePkg = wine-staging davinci-resolve
