---
- name: "[archlinux] Setup desktop: upgrade system"
  ansible.builtin.command: echo
  changed_when: true
  notify: handler_upgrade_system

- name: flush_handlers
  ansible.builtin.meta: flush_handlers

- name: "[archlinux] Setup desktop: ensure reflector"
  become: true
  ansible.builtin.package:
    name: reflector
    state: present

- name: "[archlinux] Setup desktop: setup reflector"
  become: true
  ansible.builtin.command: reflector --verbose --cache-timeout 604800 --sort rate -l 20 -c Netherlands -c France --save /etc/pacman.d/mirrorlist
  ignore_errors: true
  changed_when: true

- name: "[archlinux] Setup desktop: ensure packages"
  # How to Dual Boot Arch Linux and Windows 11/10 [ 2022 ]
  # https://www.youtube.com/watch?v=JRdYSGh-g3s
  become: true
  ansible.builtin.package:
    state: present
    name:
      - bind
      - dmenu
      - obs-studio
      - xorg
      - xorg-xinit
      - plasma
      - plasma-x11-session
      - plasma-integration
      - sddm
      - dolphin
      - dolphin-plugins
      - ark
      - moreutils
      - unrar
      - jq
      - arch-install-scripts # to get genfstab
      - kcalc
      - trash-cli
      - docker
      - docker-compose
      - kronometer
      - kcolorchooser
      - vlc
      - vlc-plugins-all
      - arch-wiki-docs
      - noise-suppression-for-voice
      - libebur128
      - inetutils
      - htop
      - xclip
      - ufw
      - kdialog
      - ncdu
      - btop
      - bluez
      # - kde-applications
  timeout: 0
  notify:
    - "10-system-tools : handler_ensure_docker_service"
    - "10-system-tools : handler_ensure_bluetooth_service"

- name: flush_handlers
  ansible.builtin.meta: flush_handlers

- name: "[archlinux] Setup desktop: add user to docker group"
  become: true
  ansible.builtin.user:
    append: true
    groups: docker
    name: "{{ ansible_env.USER }}"

- name: "[archlinux] Setup desktop: set bell sound off"
  # https://wiki.archlinux.org/index.php?title=PC_speaker&oldid=740440#Globally
  become: true
  ansible.builtin.copy:
    dest: /etc/modprobe.d/nobeep.conf
    content: blacklist pcspkr
    mode: "755"

- name: "[archlinux] Setup desktop: remove packages"
  become: true
  ansible.builtin.package:
    state: absent
    name: wacomtablet

- name: "[archlinux] Setup desktop: ensure sddm config folder"
  become: true
  ansible.builtin.file:
    path: /etc/sddm.conf.d
    state: directory
    mode: "755"

- name: "[archlinux] Setup desktop: setup sddm files"
  become: true
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    mode: "744"
  loop:
    - src: sddm/Xsetup
      dest: /usr/share/sddm/scripts/Xsetup
    - src: sddm/autologin.conf
      dest: /etc/sddm.conf.d/autologin.conf

- name: "[archlinux] Setup desktop: ensure sddm service"
  become: true
  ansible.builtin.systemd_service:
    scope: system
    name: "{{ item.name }}"
    enabled: "{{ item.enabled }}"
    masked: "{{ item.masked }}"
  loop:
    - { name: sddm.service, enabled: true, masked: false }
    - { name: NetworkManager-wait-online.service, state: stopped, enabled: false, masked: true }

- name: "[archlinux] Setup desktop: register pinentry"
  # Use pinentry-qt on desktop to store passwords in kwallet
  ansible.builtin.command: which pinentry-qt
  register: var_pinentry_path
  changed_when: false

- name: "[archlinux] Setup desktop: ensure gpg-agent.conf"
  ansible.builtin.template:
    src: gpg-agent.conf
    dest: ~/.gnupg/gpg-agent.conf
    mode: "700"

- name: "[archlinux] Setup desktop: ignore packages from pacman"
  become: true
  ansible.builtin.blockinfile:
    dest: /etc/pacman.conf
    insertafter: "^\\[options\\]"
    marker: "## {mark} ANSIBLE MANAGED BLOCK - IGNORE PACKAGES"
    block: |
      # IgnorePkg = wine-staging davinci-resolve
      IgnorePkg = wine-staging davinci-resolve

- name: "[archlinux] Setup desktop: disable baloo indexing"
  # https://wiki.archlinux.org/title/Baloo#Disabling_the_indexer
  ansible.builtin.command: "{{ item }}"
  changed_when: true
  loop:
    - balooctl6 suspend
    - balooctl6 disable
    - balooctl6 purge
  ignore_errors: true
