---
- name: "[archlinux] Compositor: remove packages"
  become: true
  ansible.builtin.package:
    name: kwin
    state: absent
    force: true

- name: "[archlinux] Compositor: ensure mask kwin service"
  ansible.builtin.systemd_service:
    scope: user
    name: plasma-kwin_x11.service
    enabled: false
    masked: true

- name: "[archlinux] Compositor: kwriteconfig6"
  ansible.builtin.command: kwriteconfig6 --file startkderc --group General --key systemdBoot true
  changed_when: false

- name: "[archlinux] Compositor: ensure packages"
  become: true
  ansible.builtin.package:
    state: present
    name:
      - picom
      - wmctrl
  notify: "10-system-tools : handler_ensure_compositor_service"

- name: "[archlinux] Compositor: clone picom shaders"
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: ~/data/repos/{{ item.name | default(item.repo) | basename }}
    version: "{{ item.version | default('HEAD') }}"
    single_branch: true
    depth: 1
  loop:
    - repo: https://github.com/ikz87/picom-shaders

- name: "[archlinux] Setup browser tools: setup picom conf"
  ansible.builtin.template:
    src: picom.conf
    dest: ~/.config/picom/
    mode: "644"

- name: "[archlinux] Compositor: clone latest dwm"
  ansible.builtin.git:
    repo: git://git.suckless.org/dwm
    dest: ~/data/repos/dwm
    version: "{{ arch_dwm_version }}"
  ignore_errors: true

- name: "[archlinux] Compositor: perform sudo make to generate config.h"
  become: true
  ansible.builtin.command: make
  args:
    chdir: "{{ ansible_facts.env.HOME }}/data/repos/dwm"
    creates: "{{ ansible_facts.env.HOME }}/data/repos/dwm/config.h"

- name: "[archlinux] Compositor: prepare patches folder"
  ansible.builtin.file:
    path: ~/data/repos/dwm/patches
    state: directory
    mode: "755"

- name: "[archlinux] Compositor: get all dwm patches"
  ansible.builtin.get_url:
    url: "{{ item }}"
    dest: ~/data/repos/dwm/patches/{{ item | basename }}
    mode: "755"
  loop:
    - https://dwm.suckless.org/patches/fakefullscreen/dwm-fakefullscreen-20210714-138b405.diff
    - https://dwm.suckless.org/patches/focusmaster/dwm-focusmaster-20210804-138b405.diff
    - https://dwm.suckless.org/patches/save_floats/dwm-savefloats-6.0.diff
    - https://dwm.suckless.org/patches/alpha/dwm-fixborders-6.2.diff
    - https://dwm.suckless.org/patches/float_border_color/dwm-float-border-color-20231008-3a7ea45f.diff
    - https://dwm.suckless.org/patches/swapfocus/dwm-swapfocus-20160731-56a31dc.diff
    - https://dwm.suckless.org/patches/floatrules/dwm-floatrules-20210801-138b405.diff
    - https://raw.githubusercontent.com/bakkeby/patches/refs/heads/master/dwm/dwm-unmanaged-6.6.diff
    - https://dwm.suckless.org/patches/focusonnetactive/dwm-focusonnetactive-6.2.diff
  loop_control:
    pause: 1

- name: "[archlinux] Compositor: apply dwm patches"
  ansible.posix.patch:
    src: "{{ item }}"
    strip: 1
    basedir: ~/data/repos/dwm
  ignore_errors: true
  loop:
    # fakefullscreen
    - ~/data/repos/dwm/patches/dwm-fakefullscreen-20210714-138b405.diff
    - fix-dwm-fakefullscreen-20210714-138b405.patch
    # focusmaster
    - ~/data/repos/dwm/patches/dwm-focusmaster-20210804-138b405.diff
    - config-dwm-focusmaster-20210804-138b405.patch
    # savefloats
    - ~/data/repos/dwm/patches/dwm-savefloats-6.0.diff
    - fix-dwm-savefloats-6.0.patch
    # fixborders
    - ~/data/repos/dwm/patches/dwm-fixborders-6.2.diff
    # dwm-float-border-color
    - ~/data/repos/dwm/patches/dwm-float-border-color-20231008-3a7ea45f.diff
    - fix-dwm-float-border-color-20231008-3a7ea45f.patch
    - config-dwm-float-border-color-20231008-3a7ea45f.patch
    # swapfocus
    - ~/data/repos/dwm/patches/dwm-swapfocus-20160731-56a31dc.diff
    - fix-dwm-swapfocus-20160731-56a31dc.patch
    - config-dwm-swapfocus-20160731-56a31dc.patch
    # floatrules
    - ~/data/repos/dwm/patches/dwm-floatrules-20210801-138b405.diff
    # dwm-unmanaged
    - ~/data/repos/dwm/patches/dwm-unmanaged-6.6.diff
    - fix-dwm-unmanaged-6.6.patch
    # dwm-focusonnetactive-6.2
    - ~/data/repos/dwm/patches/dwm-focusonnetactive-6.2.diff
    # My changes. Always leave this last.
    - make-dwm-debuggable.patch
    - custom.patch

- name: "[archlinux] Compositor: install dwm"
  become: true
  ansible.builtin.command: make install
  args:
    chdir: "{{ ansible_facts.env.HOME }}/data/repos/dwm"
  register: var_dwm_result
  changed_when: var_dwm_result.rc == 0

- name: "[archlinux] Compositor: ensure dwm service"
  ansible.builtin.systemd_service:
    scope: user
    name: plasma-wm.service
    enabled: true
    masked: false
