---
# https://wiki.archlinux.org/title/Official_repositories#Enabling_multilib
- name: "[archlinux] Wine tools: enable multilib repository"
  become: true
  ansible.builtin.blockinfile:
    dest: /etc/pacman.conf
    insertafter: "(?m)^#\\[multilib\\]\\n#Include"
    block: |
      [multilib]
      Include = /etc/pacman.d/mirrorlist
  register: var_multilib_enabled

- name: "[archlinux] Wine tools: upgrade system"
  # We don't use `handler_upgrade_system` because we need this to execute here
  # without flushing handlers (it conflicts with keyd)
  become: true
  community.general.pacman:
    update_cache: true
    upgrade: true
  when: var_multilib_enabled.changed

- name: "[archlinux] Wine tools: register current wine version"
  ansible.builtin.command: which wine
  changed_when: false
  register: var_which_wine
  ignore_errors: true

- name: "[archlinux] Wine tools: downgrade wine"
  # https://github.com/robbert-vdh/yabridge/issues/382
  become: true
  ansible.builtin.command: downgrade --ignore always --prefer-cache 'wine-staging={{ arch_wine_staging_version }}' -- --noconfirm
  environment:
    DOWNGRADE_FROM_ALA: "1"
  changed_when: true
  timeout: 0
  when: "'wine-10.8 (Staging)' not in var_which_wine.stdout"

- name: "[archlinux] Wine tools: ensure wine programs folder"
  ansible.builtin.file:
    path: ~/.local/share/applications/wine/Programs/
    state: directory
    mode: "755"

- name: "[archlinux] Wine tools: ensure .vst3 folder"
  ansible.builtin.file:
    path: ~/.vst3
    state: directory
    mode: "755"

- name: "[archlinux] Wine tools: ensure wine is installed"
  become: true
  ansible.builtin.package:
    state: present
    name:
      - winetricks
      - wine-mono
      - libxcomposite
      - vulkan-icd-loader
      - lib32-vulkan-icd-loader
      - vulkan-radeon
      - lib32-vulkan-radeon

- name: "[archlinux] Wine tools: ensure wine 32bit drivers"
  # https://wiki.archlinux.org/title/Steam#Installation
  become: true
  ansible.builtin.package:
    state: present
    name:
      - lib32-pipewire
      - lib32-nvidia-utils
      - lib32-libxcomposite

- name: "[archlinux] Wine tools: ensure aur packages"
  become: true
  become_user: aur_builder
  aur:
    use: yay
    state: present
    name:
      - steam
      - protonplus
    aur_only: true

- name: "[archlinux] Wine tools: ensure sysctl conf"
  become: true
  ansible.builtin.copy:
    src: ~/dotfiles/assets/other/sysctl-80-gamecompatibility.conf
    dest: /etc/sysctl.d/80-gamecompatibility.conf
    owner: root
    mode: "644"

- name: "[archlinux] Wine tools: ensure path"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "755"
  loop:
    - ~/data/apps
    - ~/data/apps/virt-tools
    - ~/data/apps/virt-tools/wine-{{ arch_wine_staging_version }}-staging-tkg-amd64

- name: "[archlinux] Wine tools: unarchive"
  ansible.builtin.unarchive:
    src: https://github.com/Kron4ek/Wine-Builds/releases/download/{{ arch_wine_staging_version }}/wine-{{ arch_wine_staging_version }}-staging-tkg-amd64.tar.xz
    dest: ~/data/apps/virt-tools/wine-{{ arch_wine_staging_version }}-staging-tkg-amd64
    remote_src: true
    creates: ~/data/apps/virt-tools/wine-{{ arch_wine_staging_version }}-staging-tkg-amd64/wine-{{ arch_wine_staging_version }}-staging-tkg-amd64

- name: "[archlinux] Wine tools: apply sysctl changes without rebooting"
  become: true
  ansible.builtin.command: sysctl --system
  changed_when: false

- name: "[archlinux] Wine tools: ensure music-production folder"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "755"
  loop:
    - ~/Downloads
    - ~/data/Downloads
    - ~/data/Downloads/music-production

- name: force handler
  ansible.builtin.command: echo
  changed_when: true
  notify: handler_kill_reaper_wineserver

- name: flush_handlers
  ansible.builtin.meta: flush_handlers

- name: "[archlinux] Wine tools: setup prefixes"
  ansible.builtin.command: winecfg -v {{ item.winver | default('win10') }}
  environment: "{{ wine_env_vars | combine({ 'WINEPREFIX': item.wine_prefix, 'WINEARCH': item.architecture | default('win64') }) }}"
  args:
    creates: "{{ item.wine_prefix }}/system.reg"
  loop: "{{ arch_wine_prefixes }}"
  timeout: 60

- name: "[archlinux] Wine tools: test reg query LogPixels"
  ansible.builtin.command: wine reg query 'HKEY_CURRENT_USER\Control Panel\Desktop' /v 'LogPixels'
  environment: "{{ wine_env_vars | combine({ 'WINEPREFIX': arch_reaper_wine_setup.wine_prefix }) }}"
  changed_when: false
  ignore_errors: true
  register: var_reg_log_pixels

- name: "[archlinux] Wine tools: setup prefixes DPI"
  # https://forum.winehq.org/viewtopic.php?t=34980
  ansible.builtin.command: >
    wine reg add "HKEY_CURRENT_USER\Control Panel\Desktop" /v LogPixels /t REG_DWORD /d {{ arch_reaper_wine_setup.dpi | default(0x60) }} /f
  environment: "{{ wine_env_vars | combine({ 'WINEPREFIX': arch_reaper_wine_setup.wine_prefix }) }}"
  changed_when: true
  when: var_reg_log_pixels is failed
  timeout: 60

- name: "[archlinux] Wine tools: test reg query virtual desktop"
  ansible.builtin.command: wine reg query 'HKEY_CURRENT_USER\Software\Wine\Explorer\Desktops' /v 'Default'
  environment: "{{ wine_env_vars | combine({ 'WINEPREFIX': arch_reaper_wine_setup.wine_prefix }) }}"
  changed_when: false
  ignore_errors: true
  register: var_reg_virtual_desktop

- name: "[archlinux] Wine tools: setup virtual desktop"
  ansible.builtin.command: "{{ item }}"
  environment: "{{ wine_env_vars | combine({ 'WINEPREFIX': arch_reaper_wine_setup.wine_prefix }) }}"
  changed_when: true
  when: "'1920x1080' not in var_reg_virtual_desktop.stdout"
  timeout: 60
  loop:
    - wine reg add "HKEY_CURRENT_USER\Software\Wine\Explorer" /v Desktop /d Default /f
    - wine reg add "HKEY_CURRENT_USER\Software\Wine\Explorer\Desktops" /v Default /d 1920x1080 /f

- name: "[archlinux] Wine tools: show dot files"
  ansible.builtin.command: wine reg add "HKEY_CURRENT_USER\Software\Wine" /v ShowDotFiles /d Y /f
  environment: "{{ wine_env_vars | combine({ 'WINEPREFIX': arch_reaper_wine_setup.wine_prefix }) }}"
  changed_when: true
  timeout: 60

- name: "[archlinux] Wine tools: reaper"
  ansible.builtin.include_tasks:
    file: wine-tools/reaper.task.yml

- name: "[archlinux] Wine tools: sws extensions"
  ansible.builtin.include_tasks:
    file: wine-tools/sws-extensions.task.yml

- name: "[archlinux] Wine tools: reaper"
  ansible.builtin.include_tasks:
    file: wine-tools/noise-suppression.task.yml

- name: "[archlinux] Wine tools: gather town"
  ansible.builtin.include_tasks:
    file: wine-tools/gather-town.task.yml

- name: "[archlinux] Wine tools: ytmdesktop"
  ansible.builtin.include_tasks:
    file: wine-tools/ytmdesktop.task.yml

- name: "[archlinux] Wine tools: audiogridder"
  ansible.builtin.include_tasks:
    file: wine-tools/audiogridder.task.yml
