---
- name: "[archlinux] Persistence tools: ensure packages"
  become: true
  ansible.builtin.package:
    state: present
    name: redis

- name: "[archlinux] Persistence tools: enable redis service and ensure is not masked"
  become: true
  ansible.builtin.systemd_service:
    name: redis.service
    enabled: true
    masked: false

- name: "[archlinux] Persistence tools: ensure virtualenv packages"
  ansible.builtin.pip:
    name:
      - pip
      - redis
      - ansible
    virtualenv: ~/data/apps/persistence-tools/.venv
    virtualenv_command: /usr/bin/python3 -m venv
    state: latest

- name: "[archlinux] Persistence tools: symlink virtualenv ansible"
  ansible.builtin.file:
    src: ~/data/apps/persistence-tools/.venv/bin/{{ item.bin_name }}
    dest: ~/bin/{{ item.symlink_name }}
    state: link
  loop:
    - bin_name: ansible
      symlink_name: vansible
    - bin_name: ansible-playbook
      symlink_name: vansible-playbook
    - bin_name: ansible-vault
      symlink_name: vansible-vault
    - bin_name: ansible-galaxy
      symlink_name: vansible-galaxy
