---
- name: "[archlinux] Other tools: ensure aur packages"
  become: true
  become_user: aur_builder
  aur:
    use: yay
    state: present
    name:
      - ccze
      - yt-dlp

- name: "[archlinux] Other tools: install jdownloader"
  community.general.flatpak:
    name: org.jdownloader.JDownloader
    state: present
  register: var_jdownloader_install
  ignore_errors: true

- name: "[archlinux] Other tools: ensure custom jdownloader desktop"
  become: true
  ansible.builtin.copy:
    src: flatpak-jdownloader.desktop
    dest: /var/lib/flatpak/exports/share/applications/org.jdownloader.JDownloader.desktop
    owner: "{{ ansible_facts.env.USER }}"
    mode: "644"
  when: var_jdownloader_install.changed and var_jdownloader_install is success
  notify: handler_update_desktop_database

- name: "[archlinux] Other tools: ensure font directory exists"
  ansible.builtin.file:
    path: ~/.local/share/fonts/{{ item | basename | splitext | first }}
    state: directory
    mode: "775"
  loop: "{{ arch_fonts }}"

- name: "[archlinux] Other tools: install font"
  ansible.builtin.unarchive:
    src: "{{ item }}"
    dest: ~/.local/share/fonts/{{ item | basename | splitext | first }}
    remote_src: true
  loop: "{{ arch_fonts }}"
  notify: handler_ensure_fc_cache

- name: "[archlinux] Other tools: ensure security tools folder"
  ansible.builtin.file:
    path: ~/data/apps/security-tools
    state: directory
    mode: "755"

- name: "[archlinux] Other tools: install bitwarden"
  community.general.flatpak:
    name: com.bitwarden.desktop
    state: latest
  ignore_errors: true
  register: var_bitwarden_install

- name: "[archlinux] Other tools: prepare bitwarden .desktop and mimetype"
  ansible.builtin.shell: |
    update-desktop-database ~/.local/share/applications
    xdg-mime default bitwarden.desktop x-scheme-handler/bitwarden
  changed_when: true
  when: var_bitwarden_install.changed and var_bitwarden_install is success
  notify: "10-system-tools : handler_update_desktop_database"

- name: "[archlinux] Other tools: install packages"
  become: true
  ansible.builtin.package:
    name:
      - firejail
      - tree
    state: present
