---
- name: "[archlinux] Setup browser tools: set fact"
  ansible.builtin.set_fact:
    fact_filtered_browser_extensions: "{{ (fact_filtered_browser_extensions | default([])) + [item] }}"
  loop: "{{ browser_local_extensions }}"
  when: item.hide is not defined or not item.hide

- name: "[archlinux] Setup browser tools: ensure packages"
  become: true
  ansible.builtin.package:
    state: present
    name:
      - ruby # to install extensionator
      - firefox

- name: "[archlinux] Setup browser tools: ensure aur packages"
  become: true
  become_user: aur_builder
  aur:
    use: yay
    state: present
    name:
      - brave-bin
      - chromium

- name: "[archlinux] Setup browser tools: ensure folder exists"
  ansible.builtin.file:
    state: directory
    path: "{{ item }}"
    mode: "755"
  loop:
    - ~/data/apps/browser-tools
    - ~/data/apps/browser-tools/chrome
    - ~/data/apps/browser-tools/chrome/extensions

- name: "[archlinux] Setup browser tools: get chrome-session-dump"
  ansible.builtin.get_url:
    url: https://github.com/lemnos/chrome-session-dump/releases/download/v0.0.2/chrome-session-dump-linux
    dest: ~/data/apps/browser-tools/chrome/chrome-session-dump-linux
    force: true
    mode: "755"

- name: "[archlinux] Setup browser tools: symlink chrome-session-dump"
  ansible.builtin.file:
    src: ~/data/apps/browser-tools/chrome/chrome-session-dump-linux
    dest: ~/bin/chrome-session-dump
    state: link

- name: "[archlinux] Setup browser tools: ensure ruby packages"
  community.general.gem:
    name: "{{ item }}"
    state: present
  loop:
    - base64
    - extensionator

- name: "[archlinux] Setup browser tools: version to extensionator path"
  ansible.builtin.shell: set -o pipefail && fd 'extensionator' ~/.local/share/gem/ruby -t x -1 | grep -oP "\/\K\d[^/]+" -m 1
  register: var_ruby_version
  changed_when: true

- name: "[archlinux] Setup browser tools: clone chrome extensions"
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: ~/data/repos/{{ item.name | default(item.repo) | basename }}
    version: "{{ item.version | default('HEAD') }}"
    force: true
    depth: 1
    single_branch: true
  register: var_clone_chrome_extensions
  loop:
    - repo: https://github.com/jimschubert/NewTab-Redirect
    - repo: https://github.com/philc/vimium
    - repo: https://github.com/kg8m/chrome-show-tab-numbers
    - repo: https://github.com/facebook/react
      version: v{{ facebook_react_extension_version }}
    - repo: https://github.com/karlicoss/promnesia
    - repo: https://github.com/microsoft/playwright-mcp

- name: "[archlinux] Setup browser tools: set fact fact_changed_extensions"
  ansible.builtin.set_fact:
    fact_changed_extensions: "{{ fact_changed_extensions | default({}) | combine({extension_name: item.changed}) }}"
  vars:
    extension_name: "{{ item.invocation.module_args.repo | basename }}"
  loop: "{{ var_clone_chrome_extensions.results }}"

- name: "[archlinux] Setup browser tools: register var_playwright_mcp_browser_key"
  ansible.builtin.command: kwallet-query --folder {{ folder }} --read-password {{ passkey }} {{ wallet }}
  changed_when: true
  register: var_playwright_mcp_browser_key
  ignore_errors: true
  vars:
    folder: "{{ playwright_mcp_server_setup.keyrings.folder }}"
    passkey: "{{ playwright_mcp_server_setup.keyrings.passkey }}"
    wallet: "{{ playwright_mcp_server_setup.keyrings.wallet }}"

- name: "[archlinux] Setup browser tools: create playwright_mcp_tempdir"
  ansible.builtin.tempfile:
    state: directory
    suffix: playwright_mcp_tempdir
  register: playwright_mcp_tempdir

- name: "[archlinux] Setup browser tools: dynamically generate playwright_mcp_auth_token.patch"
  ansible.builtin.template:
    src: playwright_mcp_auth_token.patch
    dest: "{{ playwright_mcp_tempdir.path }}/playwright_mcp_auth_token.patch"
    mode: "644"
  when: fact_changed_extensions['playwright-mcp'] and 'stdout' in var_playwright_mcp_browser_key

- name: "[archlinux] Setup browser tools: patch playwright mcp extension"
  ansible.posix.patch:
    src: "{{ playwright_mcp_tempdir.path }}/playwright_mcp_auth_token.patch"
    basedir: ~/data/repos/playwright-mcp
    strip: 1
  when: fact_changed_extensions['playwright-mcp'] and 'stdout' in var_playwright_mcp_browser_key

- name: "[archlinux] Setup browser tools: build playwright mcp"
  ansible.builtin.shell: >
    source ~/.bashrc &&
    $({{ ansible_env.HOME }}/.volta/bin/volta which npm) ci npm &&
    $({{ ansible_env.HOME }}/.volta/bin/volta which npm) run build
  args:
    chdir: ~/data/repos/playwright-mcp/extension
  changed_when: fact_changed_extensions['playwright-mcp']
  when: fact_changed_extensions['playwright-mcp']

- name: "[archlinux] Setup browser tools: patch NewTab-Redirect extension"
  ansible.posix.patch:
    src: extension_new_tab_redirect_tab.patch
    basedir: ~/data/repos/NewTab-Redirect
    strip: 1

- name: "[archlinux] Setup browser tools: patch vimium extension"
  ansible.posix.patch:
    src: ~/dotfiles/assets/patches/chrome_extensions/extension_vimium_config.patch
    basedir: ~/data/repos/vimium
    strip: 1
  ignore_errors: true

- name: "[archlinux] Setup browser tools: generate key file"
  ansible.builtin.shell: |
    openssl genrsa -out ~/data/apps/browser-tools/chrome/extensions/identity.pem 2048
  args:
    creates: ~/data/apps/browser-tools/chrome/extensions/identity.pem

- name: "[archlinux] Setup browser tools: build promnesia"
  ansible.builtin.shell: |
    $({{ ansible_env.HOME }}/.volta/bin/volta which npm) ci
    /usr/bin/python build --chrome --release
  args:
    chdir: ~/data/repos/promnesia/extension
    creates: ~/data/repos/promnesia/extension/dist/chrome/manifest.json
  register: var_build_promnesia
  ignore_errors: true

- name: "[archlinux] Setup browser tools: register build dirs exists"
  ansible.builtin.stat:
    path: "{{ item.path | default(var_default_d) }}"
  vars:
    var_default_d: ~/data/repos/{{ item.name }}
  register: var_build_dirs_exists
  loop: "{{ browser_local_extensions }}"

- name: "[archlinux] Setup browser tools: set build dir facts"
  ansible.builtin.set_fact:
    fact_build_dirs_exists: "{{ fact_build_dirs_exists | default({}) | combine({file: item.stat.isdir is defined and item.stat.isdir}) }}"
  vars:
    file: "{{ item.item.path }}"
  loop: "{{ var_build_dirs_exists.results }}"

- name: "[archlinux] Setup browser tools: build external crx"
  ansible.builtin.shell: >
    ~/.local/share/gem/ruby/{{ var_ruby_version.stdout }}/bin/extensionator
    -d {{ item.path | default(var_default_d) }}
    -i ~/data/apps/browser-tools/chrome/extensions/identity.pem
    -o {{ item.path | default(var_default_d) }}/{{ item.name }}.crx
  vars:
    var_default_d: ~/data/repos/{{ item.name }}
  changed_when:
    - fact_changed_extensions[item.repo | basename] | default(false)
    - fact_build_dirs_exists[item.path | default(var_default_d)] | default(false)
  when:
    - fact_changed_extensions[item.repo | basename] | default(false)
    - fact_build_dirs_exists[item.path | default(var_default_d)] | default(false)
  loop: "{{ fact_filtered_browser_extensions }}"

- name: "[archlinux] Setup browser tools: create browser policy directory for all users"
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "755"
  loop:
    - /etc/brave
    - /etc/brave/policies
    - /etc/brave/policies/managed
    - /etc/chromium
    - /etc/chromium/policies
    - /etc/chromium/policies/managed
    - /etc/opt/edge
    - /etc/opt/edge/policies
    - /etc/opt/edge/policies/managed

- name: "[archlinux] Setup browser tools: create browser policy file for all users"
  become: true
  ansible.builtin.template:
    src: browser-custom-policy.json
    dest: "{{ item }}"
    owner: root
    mode: "644"
  loop:
    - /etc/brave/policies/managed/browser-custom-policy.json
    - /etc/chromium/policies/managed/browser-custom-policy.json
    - /etc/opt/edge/policies/managed/browser-custom-policy.json

- name: "[archlinux] Setup browser tools: create extensions directory for all users"
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "755"
  loop:
    - /usr/share/chromium
    - /usr/share/chromium/extensions
    - /usr/share/microsoft-edge
    - /usr/share/microsoft-edge/extensions

- name: "[archlinux] Setup browser tools: create extension files"
  become: true
  ansible.builtin.copy:
    dest: "{{ item.policy_path }}/{{ item.extension_id }}.json"
    content: |
      { "external_update_url": "https://clients2.google.com/service/update2/crx" }
    mode: "644"
  loop:
    - extension_id: "{{ extension_floccus }}"
      policy_path: /usr/share/microsoft-edge/extensions
    - extension_id: "{{ extension_chrome_regex_search }}"
      policy_path: /usr/share/microsoft-edge/extensions
    - extension_id: "{{ extension_monolith }}"
      policy_path: /usr/share/microsoft-edge/extensions
    - extension_id: "{{ extension_floccus }}"
      policy_path: /usr/share/chromium/extensions
    - extension_id: "{{ extension_chrome_regex_search }}"
      policy_path: /usr/share/chromium/extensions
    - extension_id: "{{ extension_monolith }}"
      policy_path: /usr/share/chromium/extensions

- name: "[archlinux] Setup browser tools: copy brave desktop file to user directory"
  become: true
  ansible.builtin.copy:
    src: /usr/share/applications/brave-browser.desktop
    dest: "{{ ansible_env.HOME }}/.local/share/applications/brave-browser.desktop"
    owner: "{{ ansible_env.USER }}"
    mode: "644"

- name: "[archlinux] Setup browser tools: clean exec line"
  ansible.builtin.lineinfile:
    dest: "{{ ansible_env.HOME }}/.local/share/applications/brave-browser.desktop"
    regexp: "^Exec=.*"
    state: absent

- name: "[archlinux] Setup browser tools: ensure brave scale"
  ansible.builtin.blockinfile:
    dest: "{{ ansible_env.HOME }}/.local/share/applications/brave-browser.desktop"
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
    insertafter: "^\\[Desktop Entry\\]"
    block: Exec=bravennn --load-extension={{ browser_local_extensions | map(attribute='path') | join(',') }} %u
  notify: handler_update_desktop_database

- name: "[archlinux] Setup browser tools: clean packages"
  become: true
  ansible.builtin.package:
    force: true
    state: absent
    name: jdk-openjdk

- name: flush_handlers
  ansible.builtin.meta: flush_handlers
