---
- name: "[otherlinux] Setup backup tools: ensure packages"
  ansible.builtin.command: pkg install -y borgbackup
  changed_when: false

- block:
    - name: "[otherlinux] Setup backup tools: init borg repos"
      ansible.builtin.command: borg init --encryption=keyfile '{{ item.repo }}'
      environment:
        BORG_PASSCOMMAND: gpg --homedir /data/data/com.termux/files/home/.gnupg --decrypt {{ ansible_facts.env.HOME }}/data/secrets/{{ item.pass_file }}
      vars:
        device: '{{ item.device | regex_replace("[^A-Za-z0-9]", "_") }}'
        reponame: '{{ item.keyrings.passkey | regex_replace("[^A-Za-z0-9]", "_") }}'
      args:
        creates: ~/.config/borg/keys/*{{ device }}_data_backups_{{ reponame }}
      loop: "{{ otherlinux_borg_repos_env }}"

    - name: "[otherlinux] Setup backup tools: ensure bin folder"
      ansible.builtin.file:
        path: ~/bin
        state: directory
        mode: "755"

    - name: "[otherlinux] Setup backup tools: create backup scripts from template"
      ansible.builtin.template:
        src: borg_backup_jinja_template.backup.sh
        dest: ~/bin/{{ item.sh_template }}.backup.sh
        mode: "700"
      vars:
        borg_repo: "{{ item.repo }}"
        borg_pass: "{{ item.pass_file }}"
        files: "{{ item.files }}"
      loop: "{{ otherlinux_borg_repos_env }}"

    - name: "[otherlinux] Setup backup tools: backup seedvault every 4 hours"
      ansible.builtin.cron:
        name: "Backup seedvault every 4 hours"
        hour: "*/4"
        job: ~/bin/autogenerated-dev4-seedvault-main

    - name: "[otherlinux] Setup backup tools: ensure keyfiles backup folder"
      ansible.builtin.file:
        path: ~/data/secrets/backup-borg-keyfiles
        state: directory
        mode: "755"

    - name: "[otherlinux] Setup backup tools: backup keyfile"
      ansible.builtin.command: borg key export "{{ item.repo }}" "~/data/secrets/backup-borg-keyfiles/{{ keyfilename }}"
      environment:
        BORG_PASSCOMMAND: gpg --homedir /data/data/com.termux/files/home/.gnupg --decrypt {{ ansible_facts.env.HOME }}/data/secrets/{{ item.pass_file }}
      vars:
        keyfilename: '{{ item.repo | regex_replace("[^A-Za-z0-9]", "_") }}'
      changed_when: true
      loop: "{{ otherlinux_borg_repos_env }}"

    - name: "[otherlinux] Setup backup tools: register timestamp"
      ansible.builtin.command: date +%Y-%m-%d%H-%M-%S
      changed_when: true
      register: var_tstamp

    - name: "[otherlinux] Setup backup tools: archive the keyfiles"
      ansible.builtin.command: tar -czvf ../keyfiles-{{ user_os }}-{{ var_tstamp.stdout }}.tar.gz * --remove-files
      args:
        chdir: ~/data/secrets/backup-borg-keyfiles
        creates: ../keyfiles-{{ user_os }}-{{ var_tstamp.stdout }}.tar.gz
  ignore_errors: true
