---
- name: "[archlinux] Setup backup tools: ensure packages"
  become: true
  ansible.builtin.package:
    state: present
    name:
      - borg
      - python-pyfuse3

- name: "[archlinux] Setup backup tools: ensure borg env variables in sudoers file"
  become: true
  ansible.builtin.blockinfile:
    dest: /etc/sudoers
    marker: "## {mark} ANSIBLE MANAGED BLOCK - SETUP BORG"
    block: Defaults env_keep += "BORG_*"
    validate: visudo -cf %s

- block:
    - name: "[archlinux] Setup backup tools: ensure borg keys folder with right permissions"
      ansible.builtin.file:
        path: "{{ item }}"
        recurse: true
        state: directory
        mode: "755"
      loop:
        - ~/.cache/borg
        - ~/.config/borg/keys
        - ~/.config/borg/security

    - name: "[archlinux] Setup backup tools: init borg repos"
      ansible.builtin.command: borg init --encryption=keyfile '{{ item.repo }}'
      environment:
        BORG_PASSCOMMAND: kwallet-query --folder {{ item.keyrings.folder }} --read-password {{ item.keyrings.passkey }} {{ item.keyrings.wallet }}
      args:
        creates: ~/.config/borg/keys/*{{ item.repo | basename | regex_replace("[^A-Za-z0-9]", "_") }}
      loop: "{{ archlinux_borg_repos_env }}"

    - name: "[archlinux] Setup backup tools: create backup scripts from template"
      ansible.builtin.template:
        src: borg_backup_jinja_template.backup.sh
        dest: ~/bin/{{ item.sh_template }}.backup.sh
        mode: "744"
      vars:
        borg_repo: "{{ item.repo }}"
        keyrings: "{{ item.keyrings }}"
        files: "{{ item.files }}"
      loop: "{{ archlinux_borg_repos_env }}"

    - name: "[archlinux] Setup backup tools: ensure borg backup timer"
      ansible.builtin.systemd_service:
        scope: user
        name: "{{ item.service }}.timer"
        enabled: true
        masked: false
      loop:
        - { service: every-hour-backup@dev4-config-files }
        - { service: every-8-hours-backup@dev4-PKM }
        - { service: every-4-hours-backup@dev4-notes }
        - { service: every-4-hours-backup@dev4-audio-pjs }
        - { service: every-8-hours-backup@dev4-bw-backup }
        - { service: every-hour-backup@dev2-config-files }
        - { service: every-8-hours-backup@dev2-PKM }
        - { service: every-4-hours-backup@dev2-notes }
        - { service: every-4-hours-backup@dev2-audio-pjs }
        - { service: every-8-hours-backup@dev2-bw-backup }
        - { service: every-hour-backup@dev3-config-files }
        - { service: every-8-hours-backup@dev3-PKM }
        - { service: every-4-hours-backup@dev3-notes }
        - { service: every-4-hours-backup@dev3-audio-pjs }
        - { service: every-8-hours-backup@dev3-bw-backup }

    - name: "[archlinux] Setup backup tools: ensure keyfiles backup folder"
      ansible.builtin.file:
        path: ~/data/secrets/backup-borg-keyfiles
        state: directory
        mode: "755"

    - name: "[archlinux] Setup backup tools: backup keyfile"
      ansible.builtin.command: borg key export "{{ item.repo }}" "~/data/secrets/backup-borg-keyfiles/{{ keyfilename }}"
      environment:
        BORG_PASSCOMMAND: kwallet-query --folder {{ item.keyrings.folder }} --read-password {{ item.keyrings.passkey }} {{ item.keyrings.wallet }}
      vars:
        keyfilename: '{{ item.repo | regex_replace("[^A-Za-z0-9]", "_") }}'
      changed_when: true
      loop: "{{ archlinux_borg_repos_env }}"

    - name: "[archlinux] Setup backup tools: register timestamp"
      ansible.builtin.command: date +%Y-%m-%d%H-%M-%S
      changed_when: true
      register: var_tstamp

    - name: "[archlinux] Setup backup tools: archive the keyfiles"
      ansible.builtin.command: tar -czvf ../keyfiles-{{ user_os }}-{{ var_tstamp.stdout }}.tar.gz * --remove-files
      args:
        chdir: ~/data/secrets/backup-borg-keyfiles
        creates: ../keyfiles-{{ user_os }}-{{ var_tstamp.stdout }}.tar.gz
  ignore_errors: true
