---
- block:
    - name: "[archlinux] Setup root backup tools: stat local backup drives"
      ansible.builtin.stat:
        path: "{{ item }}"
      loop:
        - /run/media/{{ ansible_env.USER }}/{{ arch_external_dev2 }}/data/backups
        - /run/media/{{ ansible_env.USER }}/{{ arch_external_dev3 }}/data/backups
        - /run/media/{{ ansible_env.USER }}/{{ arch_external_dev4 }}/data/backups
      register: var_local_backup_drives

    - name: "[archlinux] Setup root backup tools: set available drives fact"
      ansible.builtin.set_fact:
        available_drives: "{{ var_local_backup_drives.results | items2dict(key_name='item', value_name='stat') }}"

    - name: "[archlinux] Setup root backup tools: ensure folder with right permissions"
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: "755"
      loop:
        - ~/.config/borg-root
        - ~/.config/borg-root/keys

    - name: "[archlinux] Setup root backup tools: init borg root repos"
      become: true
      ansible.builtin.command: borg init --encryption=keyfile '{{ item.borg_repo }}'
      environment:
        BORG_KEYS_DIR: "{{ ansible_env.USER }}/.config/borg-root/keys"
        BORG_PASSCOMMAND: >
          /usr/local/bin/run_as_user -u {{ ansible_env.USER }}
            kwallet-query
            --folder {{ item.keyrings.folder }}
            --read-password {{ item.keyrings.passkey }} {{ item.keyrings.wallet }}
      vars:
        device: '{{ item.device | regex_replace("[^A-Za-z0-9]", "_") }}'
        reponame: '{{ item.keyrings.passkey | regex_replace("[^A-Za-z0-9]", "_") }}'
        repobasename: /run/media/{{ ansible_env.USER }}/{{ item.device }}/data/backups
      args:
        creates: ~/.config/borg-root/keys/*{{ device }}_data_backups_{{ reponame }}
      when: repobasename in available_drives and available_drives[repobasename].exists
      loop: "{{ archlinux_borg_root_repos_env }}"

    - name: "[archlinux] Setup root backup tools: create backup scripts from template"
      become: true
      ansible.builtin.template:
        src: borg_backup_jinja_template.backup.sh
        dest: "/usr/bin/{{ item.sh_template }}.backup.sh"
        mode: "744"
        owner: root
      vars:
        borg_repo: "{{ item.borg_repo }}"
        keyrings: "{{ item.keyrings }}"
        files: "{{ item.files }}"
      loop: "{{ archlinux_borg_root_repos_env }}"

    - name: "[archlinux] Setup root backup tools: copy root timers & services"
      become: true
      ansible.builtin.copy:
        src: "{{ ansible_env.HOME }}/dotfiles/assets/other/{{ item }}"
        dest: "/etc/systemd/system/{{ item }}"
        owner: root
        mode: "644"
      loop:
        - borg-root-backup@.service
        - every-8-hours-backup@.timer

    - name: "[archlinux] Setup root backup tools: ensure borg backup timer"
      become: true
      ansible.builtin.systemd_service:
        scope: system
        name: "{{ item.service }}.timer"
        enabled: true
        masked: false
      loop:
        - { service: every-8-hours-backup@dev4-root }
        - { service: every-8-hours-backup@dev2-root }
        - { service: every-8-hours-backup@dev3-root }

    - name: "[archlinux] Setup database tools: ensure root-keyfiles backup folder"
      ansible.builtin.file:
        path: ~/data/secrets/backup-borg-root-keyfiles
        state: directory
        mode: "755"

    - name: "[archlinux] Setup root backup tools: backup keyfile"
      become: true
      ansible.builtin.command: borg key export "{{ item.borg_repo }}" "{{ ansible_env.HOME }}/data/secrets/backup-borg-root-keyfiles/{{ keyfilename }}"
      environment:
        BORG_KEYS_DIR: "{{ ansible_env.USER }}/.config/borg-root/keys"
        BORG_PASSCOMMAND: >
          /usr/local/bin/run_as_user -u {{ ansible_env.USER }}
            kwallet-query
            --folder {{ item.keyrings.folder }}
            --read-password {{ item.keyrings.passkey }} {{ item.keyrings.wallet }}
      vars:
        keyfilename: '{{ item.borg_repo | regex_replace("[^A-Za-z0-9]", "_") }}'
      changed_when: true
      loop: "{{ archlinux_borg_root_repos_env }}"

    - name: "[archlinux] Setup root backup tools: register timestamp"
      ansible.builtin.command: date +%Y-%m-%d%H-%M-%S
      changed_when: true
      register: var_tstamp

    - name: "[archlinux] Setup root backup tools: archive the keyfiles"
      become: true
      ansible.builtin.command: tar -czvf ../root_keyfiles-{{ user_os }}-{{ var_tstamp.stdout }}.tar.gz * --remove-files
      args:
        chdir: "{{ ansible_env.HOME }}/data/secrets/backup-borg-root-keyfiles"
        creates: ../root_keyfiles-{{ user_os }}-{{ var_tstamp.stdout }}.tar.gz
  ignore_errors: true
