---
- name: "[archlinux] AUR: ensure aur - Create modules folder"
  ansible.builtin.file:
    state: directory
    recurse: true
    path: ~/.ansible/plugins/modules

- name: "[archlinux] AUR: ensure ansible aur helper"
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/kewlfft/ansible-aur/master/plugins/modules/aur.py
    dest: ~/.ansible/plugins/modules/aur.py
    mode: "644"

- name: "[archlinux] Setup desktop: ensure aur packages"
  aur:
    use: yay
    state: present
    name:
      - downgrade
      - ttf-ms-win11-auto
