---
- name: "[archlinux] AUR: ensure aur - Create modules folder"
  ansible.builtin.file:
    state: directory
    recurse: true
    path: ~/.ansible/plugins/modules

- name: "[archlinux] AUR: ensure ansible aur helper"
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/kewlfft/ansible-aur/master/plugins/modules/aur.py
    dest: ~/.ansible/plugins/modules/aur.py
    mode: "644"

- name: "[archlinux] AUR: Create the `aur_builder` user"
  become: true
  ansible.builtin.user:
    name: aur_builder
    create_home: true
    group: wheel

- name: "[archlinux] AUR: Allow the `aur_builder` user to run `sudo pacman` without a password"
  become: true
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/11-install-aur_builder
    line: "aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman"
    create: true
    mode: "644"
    validate: "visudo -cf %s"

- name: "[archlinux] AUR: ensure makepkg folder permissions"
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/temp/makepkg"
    recurse: true
    mode: "070"
    group: wheel

- name: "[archlinux] AUR: append user to wheel group"
  become: true
  ansible.builtin.user:
    append: true
    groups: wheel
    name: "{{ ansible_env.USER }}"

- name: "[archlinux] Setup desktop: ensure aur packages"
  become: true
  become_user: aur_builder
  aur:
    use: yay
    state: present
    name:
      - downgrade
      - ttf-ms-win11-auto
