---
- name: "[archlinux] AUR: ensure aur - Create modules folder"
  ansible.builtin.file:
    state: directory
    recurse: true
    path: ~/.ansible/plugins/modules

- name: "[archlinux] AUR: ensure ansible aur helper"
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/kewlfft/ansible-aur/master/plugins/modules/aur.py
    dest: ~/.ansible/plugins/modules/aur.py
    mode: "644"

- name: "[archlinux] AUR: Create the `aur_builder` user"
  become: true
  ansible.builtin.user:
    name: aur_builder
    create_home: true
    group: wheel

- name: "[archlinux] AUR: Allow the `aur_builder` user to run `sudo pacman` without a password"
  become: true
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/11-install-aur_builder
    line: "aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman"
    create: true
    mode: "644"
    validate: "visudo -cf %s"

- name: "[archlinux] AUR: ensure makepkg folder permissions"
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/temp/makepkg"
    recurse: true
    mode: "777"
    group: wheel

- name: "[archlinux] AUR: append aur_builder to wheel group"
  become: true
  ansible.builtin.user:
    append: true
    groups: wheel
    name: aur_builder

- name: "[archlinux] AUR: append user to wheel group"
  become: true
  ansible.builtin.user:
    append: true
    groups: wheel
    name: "{{ ansible_env.USER }}"

- name: "[archlinux] AUR: clone yay"
  ansible.builtin.git:
    repo: https://aur.archlinux.org/yay-bin
    dest: "{{ ansible_env.HOME }}/repos/yay"
    depth: 1
    force: true
    version: "{{ arch_yay_version }}"
    single_branch: true

- name: "[archlinux] AUR: append wheel permission"
  become: true
  ansible.builtin.file:
    state: directory
    path: "{{ ansible_env.HOME }}/external/repos/yay"
    group: wheel
    recurse: true
    mode: "777"

- name: "[archlinux] AUR: install yay"
  become: true
  become_user: aur_builder
  ansible.builtin.command: makepkg -si --noconfirm
  args:
    chdir: "{{ ansible_env.HOME }}/repos/yay"
