---
- name: "[archlinux] Setup file manager: clone packages"
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: ~/data/repos/{{ item.name | default(item.repo) | basename }}
    depth: 10
    force: true
    single_branch: true
    version: "{{ item.version | default('HEAD') }}"
  loop:
    - { repo: https://github.com/jarun/nnn, version: master }

- name: "[archlinux] Setup file manager: patch plugins & nnn"
  ansible.posix.patch:
    src: "{{ item.patch }}"
    basedir: ~/data/repos/nnn
    strip: 1
  loop:
    - patch: ~/dotfiles/assets/patches/term/give_kitty_priority.patch

- name: "[archlinux] Setup file manager: ensure deps"
  become: true
  ansible.builtin.package:
    state: present
    name:
      - eza
      - pkg-config
      - ncurses
      - imagemagick
      - readline
      - mpv
      - ffmpegthumbnailer
      - ffmpeg
      - sshfs
      - poppler
      - udisks2
      - ueberzug
      - lowdown
      - fuse2
      - dragon
      - libimobiledevice
      - usbmuxd

- name: "[archlinux] Setup file manager: ensure aur deps"
  become: true
  become_user: aur_builder
  aur:
    use: yay
    state: present
    name:
      - pmount
      - gnome-epub-thumbnailer
      - xdg-desktop-portal-termfilechooser-hunkyburrito-git
  changed_when: true
  notify: handler_restart_xdg_desktop_portal_termfilechooser

- name: "[archlinux] Setup file manager: build nnn"
  ansible.builtin.command: make O_NERD=1 O_GITSTATUS=1 O_PCRE2=1 strip install
  environment:
    PREFIX: "{{ ansible_env.HOME }}/.local"
  args:
    chdir: ~/data/repos/nnn
    creates: ~/.local/bin/nnn

- name: "[archlinux] Setup file manager: ensure dest folder"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "744"
  loop:
    - ~/.config/nnn
    - ~/.config/nnn/plugins

# https://github.com/jarun/nnn/wiki/Advanced-use-cases#desktop-integration
- name: "[archlinux] Setup file manager: install nnn plugins"
  ansible.builtin.file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
  loop:
    - src: ~/data/repos/nnn/plugins/preview-tui
      dest: ~/.config/nnn/plugins/preview-tui
    - src: ~/data/repos/nnn/plugins/nmount
      dest: ~/.config/nnn/plugins/nmount
    - src: ~/data/repos/nnn/plugins/umounttree
      dest: ~/.config/nnn/plugins/umounttree
    - src: ~/data/repos/nnn/plugins/dragdrop
      dest: ~/.config/nnn/plugins/dragdrop

# https://github.com/jarun/nnn/wiki/Advanced-use-cases#desktop-integration
- name: "[archlinux] Setup file manager: install nnn plugins"
  ansible.builtin.copy:
    src: ~/data/repos/nnn/misc/desktop/nnn.desktop
    dest: ~/.local/share/applications/nnn.desktop
    mode: "644"

- name: "[archlinux] Setup file manager: get nnn external plugin"
  ansible.builtin.copy:
    dest: ~/.config/nnn/plugins/cdto
    content: |
      #!/usr/bin/env sh
      printf "cd to: "
      read -r dir
      printf "%s" "0c$dir" > "$NNN_PIPE"
    mode: "755"
