---
- name: "[archlinux] Setup audio tools: ensure no package conflicts"
  become: true
  ansible.builtin.package:
    state: absent
    name:
      - plasma-pa
      - pulseaudio

- name: "[archlinux] Setup audio tools: ensure packages"
  become: true
  ansible.builtin.package:
    state: present
    name:
      - pipewire
      - lib32-pipewire
      - pipewire-docs
      - pipewire-audio
      - pipewire-alsa
      - pipewire-pulse
      - pipewire-jack
      - lib32-pipewire-jack
      - wireplumber
      - plasma-pa
      - realtime-privileges
      - base-devel
      - cpupower

- name: "[archlinux] Setup audio tools: ensure services"
  ansible.builtin.systemd_service:
    scope: "{{ item.scope | default('user') }}"
    name: "{{ item.name }}"
    enabled: "{{ item.enabled }}"
    masked: "{{ item.masked }}"
  loop:
    - { name: pipewire.socket, enabled: true, masked: false }
    - { name: pipewire-pulse.socket, enabled: true, masked: false }
    - { name: wireplumber.service, enabled: true, masked: false }
    - { scope: system, name: cpupower.service, enabled: true, masked: false }

- name: "[archlinux] Setup audio tools: create pipewire group"
  become: true
  ansible.builtin.group:
    name: pipewire

- name: "[archlinux] Setup audio tools: add user to realtime and audio groups"
  become: true
  ansible.builtin.user:
    append: true
    groups:
      - realtime
      - audio
      - pipewire
    name: "{{ ansible_env.USER }}"

- name: "[archlinux] Setup audio tools: increase REAPER ui scale"
  ansible.builtin.replace:
    path: ~/.config/REAPER/reaper.ini
    regexp: "^(ui_?scale)=[^\\s]*"
    replace: "\\1=1.2"
