---
- name: "[archlinux] Setup video tools: ensure video-tools folder"
  ansible.builtin.file:
    path: ~/apps/video-tools
    state: directory
    mode: "755"

- name: "[archlinux] Setup video tools: fix permission denied issue with davinci install"
  ansible.builtin.file:
    path: ~/temp/makepkg/davinci-resolve
    state: absent

- name: "[archlinux] Setup video tools: download davinci resolve"
  ansible.builtin.command: >
    ~/bin/nvim --headless -c "autocmd User CodeCompanionChatDone normal ZQ" -c "sleep 2" -c "CodeCompanion /download-davinci"
  register: var_download_davinci_result
  args:
    creates: ~/apps/video-tools/davinci-resolve/DaVinci_Resolve_{{ arch_davinci_resolve_version }}_Linux.zip
  timeout: 120
  ignore_errors: true
  when: is_x_display_session

- name: "[archlinux] Setup video tools: ensure davinci-resolve folder"
  ansible.builtin.file:
    path: ~/apps/video-tools/davinci-resolve
    state: directory
    mode: "755"

- name: "[archlinux] Setup video tools: wait for davinci to download"
  ansible.builtin.wait_for:
    path: ~/Downloads/DaVinci_Resolve_{{ arch_davinci_resolve_version }}_Linux.zip
    msg: Timeout waiting for davinci resolve to download
    delay: 5
    timeout: 600
  timeout: 0
  when: (var_download_davinci_result | default({})).changed and is_x_display_session

- name: "[archlinux] Setup video tools: move davinci resolve zip to expected location"
  ansible.builtin.command: mv DaVinci_Resolve_{{ arch_davinci_resolve_version }}_Linux.zip ~/apps/video-tools/davinci-resolve/
  args:
    chdir: ~/Downloads
    creates: ~/apps/video-tools/davinci-resolve/DaVinci_Resolve_{{ arch_davinci_resolve_version }}_Linux.zip
  when: (var_download_davinci_result | default({})).changed and is_x_display_session

- name: "[archlinux] Setup video tools: stat davinci-resolve zip package"
  ansible.builtin.stat:
    path: ~/apps/video-tools/davinci-resolve/DaVinci_Resolve_{{ arch_davinci_resolve_version }}_Linux.zip
  register: var_stat_davinci_zip

- name: "[archlinux] Setup video tools: download aur package"
  ansible.builtin.unarchive:
    src: https://aur.archlinux.org/cgit/aur.git/snapshot/davinci-resolve.tar.gz
    dest: ~/apps/video-tools/
    remote_src: true
    creates: ~/apps/video-tools/davinci-resolve/PKGBUILD
  when: (var_download_davinci_result | default({})).changed and is_x_display_session and var_stat_davinci_zip.stat.exists

- name: "[archlinux] Setup video tools: ensure same davinci-resolve version"
  ansible.builtin.replace:
    path: ~/apps/video-tools/davinci-resolve/PKGBUILD
    regexp: "^pkgver=.*"
    replace: "pkgver={{ arch_davinci_resolve_version }}"
  when: (var_download_davinci_result | default({})).changed and is_x_display_session and var_stat_davinci_zip.stat.exists

- name: "[archlinux] Setup video tools: ensure packages"
  become: true
  ansible.builtin.package:
    state: present
    name:
      - mesa
      - expac

- name: "[archlinux] Setup video tools: ensure packages (needs display)"
  # https://github.com/Ashark/davinci-resolve-checker?tab=readme-ov-file#installation
  become: true
  ansible.builtin.package:
    state: present
    name:
      - mesa-utils
      - lib32-mesa-utils
      - lib32-opencl-mesa
      - handbrake-cli
      - python-distro
      - opencl-nvidia
      - lib32-opencl-nvidia
      - mingw-w64
      - blender
  when: is_x_display_session

- name: "[archlinux] Setup video tools: ensure aur packages"
  become: true
  become_user: aur_builder
  aur:
    use: yay
    state: present
    name: opencl-amd
  when: is_x_display_session

- name: "[archlinux] Setup video tools: ensure pip deps for davinci-resolve-checker"
  ansible.builtin.pip:
    name:
      - distro
      - pylspci
    virtualenv: ~/apps/video-tools/.venv
    virtualenv_command: /usr/bin/python3 -m venv
    state: present

- name: "[archlinux] Setup video tools: clone davinci-resolve-checker repo"
  ansible.builtin.git:
    repo: https://github.com/Ashark/davinci-resolve-checker
    dest: ~/repos/davinci-resolve-checker
    version: master
    single_branch: true
    depth: 1

- name: "[archlinux] Setup video tools: extract deps from aur package"
  # https://bbs.archlinux.org/viewtopic.php?id=251411
  ansible.builtin.command: sed -n 's/.*depends = //p' .SRCINFO
  args:
    chdir: ~/apps/video-tools/davinci-resolve
  register: davinci_resolve_deps
  changed_when: false
  when: (var_download_davinci_result | default({})).changed and is_x_display_session and var_stat_davinci_zip.stat.exists

- name: "[archlinux] Setup video tools: install davinci-resolve deps"
  become: true
  become_user: aur_builder
  aur:
    use: yay
    state: present
    name: "{{ davinci_resolve_deps.stdout | regex_findall('(.*)\n') }}"
  timeout: 0
  when:
    - (var_download_davinci_result | default({})).changed
    - is_x_display_session
    - var_stat_davinci_zip.stat.exists
    - davinci_resolve_deps is success

- name: "[archlinux] Setup video tools: ensure home folder permissions"
  # This is necessary because `recurse: true` doesn't propagate to home folder
  become: true
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}"
    group: "{{ ansible_env.USER }}"
    owner: "{{ ansible_env.USER }}"
    mode: "750"
  when: (var_download_davinci_result | default({})).changed and is_x_display_session and var_stat_davinci_zip.stat.exists

- name: "[archlinux] Setup video tools: ensure davinci-resolve folder permissions"
  become: true
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/apps/video-tools/davinci-resolve"
    group: "{{ ansible_env.USER }}"
    owner: "{{ ansible_env.USER }}"
    recurse: true
    mode: "750"
  when: (var_download_davinci_result | default({})).changed and is_x_display_session and var_stat_davinci_zip.stat.exists

- name: "[archlinux] Setup video tools: upgrade pkg sums to prevent yay error"
  ansible.builtin.command: updpkgsums
  args:
    chdir: "{{ ansible_env.HOME }}/apps/video-tools/davinci-resolve"
  changed_when: true
  when: (var_download_davinci_result | default({})).changed and is_x_display_session and var_stat_davinci_zip.stat.exists

- name: "[archlinux] Setup video tools: temporary give tmpfs more space"
  become: true
  ansible.builtin.command: mount -o remount,size=80% /tmp
  changed_when: true

- name: "[archlinux] Setup video tools: setup makepkg folder on aur_builder user"
  become: true
  become_user: aur_builder
  ansible.builtin.file:
    path: /home/aur_builder/makepkg
    state: directory
    recurse: true
    mode: "755"

- name: "[archlinux] Setup video tools: install davinci-resolve"
  become: true
  become_user: aur_builder
  aur:
    use: makepkg
    name: davinci-resolve
    state: latest
    local_pkgbuild: "{{ ansible_env.HOME }}/apps/video-tools/davinci-resolve"
  environment:
    BUILDDIR: /home/aur_builder/makepkg # more space
    # https://wiki.archlinux.org/title/DaVinci_Resolve
    PKGEXT: ".pkg.tar"
  when:
    - (var_download_davinci_result | default({})).changed
    - is_x_display_session
    - var_stat_davinci_zip.stat.exists
    - davinci_resolve_deps is success
  timeout: 0

- name: "[archlinux] Setup video tools: remove faulty wine .dekstop"
  ansible.builtin.file:
    state: absent
    path: ~/.local/share/applications/wine-extension-braw.desktop
