---
- name: "[archlinux] Setup video tools: ensure video-tools folder"
  ansible.builtin.file:
    path: ~/apps/video-tools
    state: directory
    mode: "755"

- name: "[archlinux] Setup video tools: fix permission denied issue with davinci install"
  ansible.builtin.file:
    path: ~/temp/makepkg/davinci-resolve
    state: absent

- name: "[archlinux] Setup video tools: download davinci resolve"
  ansible.builtin.command: nvim --headless -c "autocmd User CodeCompanionChatDone normal ZQ" -c "sleep 2" -c "CodeCompanion /download-davinci"
  register: var_download_davinci_result
  args:
    creates: ~/apps/video-tools/davinci-resolve/DaVinci_Resolve_{{ arch_davinci_resolve_version }}_Linux.zip

- name: "[archlinux] Setup video tools: wait for davinci to download"
  ansible.builtin.wait_for:
    path: ~/Downloads/DaVinci_Resolve_{{ arch_davinci_resolve_version }}_Linux.zip
    msg: Timeout waiting for davinci resolve to download
    delay: 5
    timeout: 600
  timeout: 0
  when: var_download_davinci_result.changed

- name: "[archlinux] Setup video tools: move davinci resolve zip to expected location"
  ansible.builtin.command: mv DaVinci_Resolve_{{ arch_davinci_resolve_version }}_Linux.zip ~/apps/video-tools/davinci-resolve/
  args:
    chdir: ~/Downloads
    creates: ~/apps/video-tools/davinci-resolve/DaVinci_Resolve_{{ arch_davinci_resolve_version }}_Linux.zip
  when: var_download_davinci_result.changed

- name: "[archlinux] Setup video tools: download aur package"
  ansible.builtin.unarchive:
    src: https://aur.archlinux.org/cgit/aur.git/snapshot/davinci-resolve.tar.gz
    dest: ~/apps/video-tools/
    remote_src: true
    creates: ~/apps/video-tools/davinci-resolve/PKGBUILD

- name: "[archlinux] Setup video tools: ensure packages"
  # https://github.com/Ashark/davinci-resolve-checker?tab=readme-ov-file#installation
  become: true
  ansible.builtin.package:
    state: present
    name:
      - mesa
      - expac
      - mesa-utils
      - lib32-mesa-utils
      - lib32-opencl-mesa
      - handbrake-cli
      - python-distro
      - opencl-nvidia
      - lib32-opencl-nvidia
      - mingw-w64
      - blender

- name: "[archlinux] Setup video tools: ensure aur packages"
  become: true
  become_user: aur_builder
  aur:
    use: yay
    state: present
    name: opencl-amd

- name: "[archlinux] Setup video tools: ensure pip deps for davinci-resolve-checker"
  ansible.builtin.pip:
    name:
      - distro
      - pylspci
    virtualenv: ~/apps/video-tools/.venv
    virtualenv_command: /usr/bin/python3 -m venv
    state: present

- name: "[archlinux] Setup video tools: clone davinci-resolve-checker repo"
  ansible.builtin.git:
    repo: https://github.com/Ashark/davinci-resolve-checker
    dest: ~/repos/davinci-resolve-checker
    version: master
    single_branch: true
    depth: 1

- name: "[archlinux] Setup video tools: extract deps from aur package"
  # https://bbs.archlinux.org/viewtopic.php?id=251411
  ansible.builtin.command: sed -n 's/.*depends = //p' .SRCINFO
  args:
    chdir: ~/apps/video-tools/davinci-resolve
  register: davinci_resolve_deps
  changed_when: false

- name: "[archlinux] Setup video tools: install davinci-resolve deps"
  become: true
  ansible.builtin.package:
    state: present
    name: "{{ davinci_resolve_deps.stdout | regex_findall('(.*)\n') }}"
  when: davinci_resolve_deps is success

- name: "[archlinux] Setup video tools: install davinci-resolve"
  become: true
  become_user: aur_builder
  aur:
    use: makepkg
    name: davinci-resolve
    state: latest
    local_pkgbuild: ~/apps/video-tools/davinci-resolve
  when: var_download_davinci_result.changed
  timeout: 0

- name: "[archlinux] Setup video tools: remove faulty wine .dekstop"
  ansible.builtin.file:
    state: absent
    path: ~/.local/share/applications/wine-extension-braw.desktop
