---
- name: "[archlinux] Setup video tools: ensure video-tools folder"
  ansible.builtin.file:
    path: ~/data/apps/video-tools
    state: directory
    mode: "755"

- name: "[archlinux] Setup video tools: fix permission denied issue with davinci install"
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - ~/temp/makepkg/davinci-resolve

- name: "[archlinux] Setup video tools: download davinci resolve"
  # Wait 3 minutes
  ansible.builtin.command: >
    ~/bin/nvim --headless -c "autocmd User CodeCompanionChatSubmitted lua vim.defer_fn(function() vim.cmd.normal({ args = { 'ZQ' } }) end, 1000 * 60 * 3)"
    -c "sleep 2" -c "CodeCompanion /download-davinci"
  register: var_download_davinci_result
  args:
    creates: ~/data/apps/video-tools/davinci-resolve/DaVinci_Resolve_{{ arch_davinci_resolve_version }}_Linux.zip
  timeout: 600
  ignore_errors: true
  when: is_x_display_session

- name: "[archlinux] Setup video tools: ensure davinci-resolve folder"
  ansible.builtin.file:
    path: ~/data/apps/video-tools/davinci-resolve
    state: directory
    mode: "755"

- name: "[archlinux] Setup video tools: wait for davinci to download"
  ansible.builtin.wait_for:
    path: ~/Downloads/DaVinci_Resolve_{{ arch_davinci_resolve_version }}_Linux.zip
    msg: Timeout waiting for davinci resolve to download
    delay: 5
    timeout: 600
  timeout: 0
  when: (var_download_davinci_result | default({})).changed and is_x_display_session

- name: "[archlinux] Setup video tools: stat downloaded davinci resolve file"
  ansible.builtin.stat:
    path: ~/Downloads/DaVinci_Resolve_{{ arch_davinci_resolve_version }}_Linux.zip
  register: var_stat_downloaded_davinci_resolve_file

- name: "[archlinux] Setup video tools: move davinci resolve zip to expected location"
  ansible.builtin.command: mv DaVinci_Resolve_{{ arch_davinci_resolve_version }}_Linux.zip ~/data/apps/video-tools/davinci-resolve/
  args:
    chdir: ~/Downloads
    creates: ~/data/apps/video-tools/davinci-resolve/DaVinci_Resolve_{{ arch_davinci_resolve_version }}_Linux.zip
  when:
    - is_x_display_session
    - (var_download_davinci_result | default({})).changed
    - var_stat_downloaded_davinci_resolve_file.stat.exists
    - ((var_stat_downloaded_davinci_resolve_file.stat.size / 1024 / 1024) | int > 1000) # at least greater than 1G

- name: "[archlinux] Setup video tools: stat davinci-resolve zip package"
  ansible.builtin.stat:
    path: ~/data/apps/video-tools/davinci-resolve/DaVinci_Resolve_{{ arch_davinci_resolve_version }}_Linux.zip
  register: var_stat_davinci_zip

- name: "[archlinux] Setup video tools: download aur package"
  ansible.builtin.unarchive:
    src: https://aur.archlinux.org/cgit/aur.git/snapshot/davinci-resolve.tar.gz
    dest: ~/data/apps/video-tools/
    remote_src: true
    creates: ~/data/apps/video-tools/davinci-resolve/PKGBUILD
  when: (var_download_davinci_result | default({})).changed and is_x_display_session and var_stat_davinci_zip.stat.exists

- name: "[archlinux] Setup video tools: ensure same davinci-resolve version"
  ansible.builtin.replace:
    path: ~/data/apps/video-tools/davinci-resolve/PKGBUILD
    regexp: "^pkgver=.*"
    replace: "pkgver={{ arch_davinci_resolve_version }}"
  when: (var_download_davinci_result | default({})).changed and is_x_display_session and var_stat_davinci_zip.stat.exists

- name: "[archlinux] Setup video tools: ensure packages"
  become: true
  ansible.builtin.package:
    state: present
    name:
      - mesa
      - expac

- name: "[archlinux] Setup video tools: temporary give tmpfs more space"
  become: true
  ansible.builtin.command: mount -o remount,size=80% /tmp
  changed_when: true

- name: "[archlinux] Setup video tools: ensure davinci-resolve folder permissions"
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    group: "{{ ansible_facts.env.USER }}"
    owner: "{{ ansible_facts.env.USER }}"
    state: directory
    mode: "750"
  loop:
    - "{{ ansible_facts.env.HOME }}"
    - "{{ ansible_facts.env.HOME }}/data"
    - "{{ ansible_facts.env.HOME }}/data/apps"
    - "{{ ansible_facts.env.HOME }}/data/apps/video-tools"
    - "{{ ansible_facts.env.HOME }}/data/apps/video-tools/qt5"
    - "{{ ansible_facts.env.HOME }}/data/apps/video-tools/davinci-resolve"
  when: (var_download_davinci_result | default({})).changed and is_x_display_session and var_stat_davinci_zip.stat.exists

- name: "[archlinux] Setup video tools: get pre-build qt5-webengine package"
  ansible.builtin.get_url:
    url: https://sourceforge.net/projects/fabiololix-os-archive/files/Packages/qt5-webengine-5.15.19-4-x86_64.pkg.tar.zst/download
    dest: ~/data/apps/video-tools/qt5/qt5-webengine-5.15.19-4-x86_64.pkg.tar.zst
    mode: "750"
  ignore_errors: true
  register: var_get_qt5_webengine

- name: "[archlinux] Setup video tools: install pre-build qt5-webengine package"
  become: true
  ansible.builtin.command: >
    pacman -U --needed --noconfirm "{{ ansible_facts.env.HOME }}/data/apps/video-tools/qt5/qt5-webengine-5.15.19-4-x86_64.pkg.tar.zst"
  changed_when: true
  timeout: 0
  when: var_get_qt5_webengine is success

- name: "[archlinux] Setup video tools: ensure packages (needs display)"
  # https://github.com/Ashark/davinci-resolve-checker?tab=readme-ov-file#installation
  become: true
  ansible.builtin.package:
    state: present
    name:
      - mesa-utils
      - lib32-mesa-utils
      - handbrake-cli
      - python-distro
      - opencl-nvidia
      - lib32-opencl-nvidia
      - mingw-w64
      - blender
  when: is_x_display_session

- name: "[archlinux] Setup video tools: ensure aur packages"
  become: true
  become_user: aur_builder
  aur:
    use: yay
    state: present
    name: opencl-amd
  timeout: 0
  when: is_x_display_session

- name: "[archlinux] Setup video tools: ensure pip deps for davinci-resolve-checker"
  ansible.builtin.pip:
    name:
      - distro
      - pylspci
    virtualenv: ~/data/apps/video-tools/.venv
    virtualenv_command: /usr/bin/python3 -m venv
    state: present

- name: "[archlinux] Setup video tools: clone davinci-resolve-checker repo"
  ansible.builtin.git:
    repo: https://github.com/Ashark/davinci-resolve-checker
    dest: ~/data/repos/davinci-resolve-checker
    version: master
    single_branch: true
    depth: 1

- name: "[archlinux] Setup video tools: extract deps from aur package"
  # https://bbs.archlinux.org/viewtopic.php?id=251411
  ansible.builtin.command: sed -n 's/.*depends = //p' .SRCINFO
  args:
    chdir: ~/data/apps/video-tools/davinci-resolve
  register: davinci_resolve_deps
  changed_when: false
  when: (var_download_davinci_result | default({})).changed and is_x_display_session and var_stat_davinci_zip.stat.exists

- name: "[archlinux] Setup video tools: install davinci-resolve deps"
  become: true
  become_user: aur_builder
  aur:
    use: yay
    state: present
    name: "{{ davinci_resolve_deps.stdout | regex_findall('(.*)\n') }}"
  timeout: 0
  when:
    - (var_download_davinci_result | default({})).changed
    - is_x_display_session
    - var_stat_davinci_zip.stat.exists
    - davinci_resolve_deps is success

- name: "[archlinux] Setup video tools: upgrade pkg sums to prevent yay error"
  ansible.builtin.command: updpkgsums
  args:
    chdir: "{{ ansible_facts.env.HOME }}/data/apps/video-tools/davinci-resolve"
  changed_when: true
  when: (var_download_davinci_result | default({})).changed and is_x_display_session and var_stat_davinci_zip.stat.exists

- name: "[archlinux] Setup video tools: setup makepkg folder on aur_builder user"
  become: true
  become_user: aur_builder
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "755"
  loop:
    - /home/aur_builder
    - /home/aur_builder/makepkg

- name: "[archlinux] Setup video tools: install davinci-resolve"
  become: true
  become_user: aur_builder
  aur:
    use: makepkg
    name: davinci-resolve
    state: latest
    local_pkgbuild: "{{ ansible_facts.env.HOME }}/data/apps/video-tools/davinci-resolve"
  environment:
    BUILDDIR: /home/aur_builder/makepkg # more space
    # https://wiki.archlinux.org/title/DaVinci_Resolve
    PKGEXT: ".pkg.tar"
  when:
    - (var_download_davinci_result | default({})).changed
    - is_x_display_session
    - var_stat_davinci_zip.stat.exists
    - davinci_resolve_deps is success
  timeout: 0

- name: "[archlinux] Setup video tools: remove faulty wine .dekstop"
  ansible.builtin.file:
    state: absent
    path: ~/.local/share/applications/wine-extension-braw.desktop
