---
- name: "[archlinux] Dotfiles: ensure aur packages"
  become: true
  become_user: aur_builder
  aur:
    use: yay
    state: present
    name: downgrade

- name: "[archlinux] Dotfiles: ensure stow installed"
  become: true
  ansible.builtin.package:
    state: present
    name: stow

- name: "[archlinux] Dotfiles: remove problematic files"
  ansible.builtin.file:
    state: absent
    path: "{{ item }}"
  loop:
    - ~/.config/gromit-mpx.ini
    - ~/.config/mimeapps.list
    - ~/.config/ksplashrc
    - ~/.config/kscreenlockerrc
    - ~/.config/ktrashrc
    - ~/.config/kiorc
    - ~/.config/kded5rc
    - ~/.config/kglobalshortcutsrc
    - ~/.config/plasma-org.kde.plasma.desktop-appletsrc
    - ~/.bash_profile
    - ~/.bashrc
    - ~/.local/share/applications/wine-protocol-dreamtonics-svstudio2.desktop

- name: "[archlinux] Setup browser tools: setup ktrashrc"
  ansible.builtin.template:
    src: ktrashrc
    dest: ~/.config/
    mode: "644"

- name: "[archlinux] Dotfiles: apply stow"
  ansible.builtin.command: >
    stow --dotfiles
    dunst
    gnupg
    lazygit
    nvim
    peripherals
    audio
    playbooks
    systemd
    tmux
    home
    utilities
    term
    PKM
    for-my-eyes-only
  args:
    chdir: ~/dotfiles
  changed_when: false
