---
- name: "[debian] Dotfiles: register stow exists"
  ansible.builtin.command: ~/.local/bin/stow --version
  register: stow_executable
  ignore_errors: true
  changed_when: false

- name: "[debian] Dotfiles: ensure stow folder exists"
  ansible.builtin.file:
    state: directory
    recurse: true
    path: ~/data/apps/stow
  when: stow_executable is failed

- name: "[debian] Dotfiles: unzip, unrar, unarchive stow"
  ansible.builtin.unarchive:
    src: https://ftp.gnu.org/gnu/stow/stow-{{ debian_stow_version }}.tar.gz
    dest: ~/data/apps/stow
    remote_src: true
  when: stow_executable is failed

- name: "[debian] Dotfiles: configure stow"
  ansible.builtin.shell: ./configure --prefix="$HOME/.local"
  args:
    chdir: ~/data/apps/stow/stow-{{ debian_stow_version }}
  when: stow_executable is failed
  changed_when: false

- name: "[debian] Dotfiles: build stow"
  ansible.builtin.command: make
  args:
    chdir: ~/data/apps/stow/stow-{{ debian_stow_version }}
  when: stow_executable is failed
  changed_when: false

- name: "[debian] Dotfiles: install stow"
  ansible.builtin.command: make install
  args:
    chdir: ~/data/apps/stow/stow-{{ debian_stow_version }}
  when: stow_executable is failed
  changed_when: false

- name: "[debian] Dotfiles: apply stow"
  ansible.builtin.command: >
    ~/.local/bin/stow --dotfiles
    nvim
    tmux
  args:
    chdir: ~/dotfiles
  changed_when: false
