---
- name: "[archlinux] Keyboard peripheral: ensure keyd is present"
  become: true
  ansible.builtin.package:
    state: present
    name: python-xlib
  notify: handler_enable_start_keyd_application_mapper_service

- name: "[archlinux] Keyboard peripheral: ensure packages"
  become: true
  ansible.builtin.package:
    state: present
    name:
      # Mouseless.click dependencies
      - webkit2gtk-4.1
      # warpd dependencies
      - libxi
      - libxinerama
      - libxft
      - libxfixes
      - libxtst
      - libx11
      - libxkbcommon

- name: "[archlinux] Keyboard peripheral: clone keyd"
  ansible.builtin.git:
    repo: https://github.com/rvaiya/keyd
    dest: ~/repos/keyd
    version: master
    force: true
    single_branch: true
    depth: 100

- name: "[archlinux] Keyboard peripheral: patch keyd"
  ansible.posix.patch:
    src: ~/dotfiles/assets/patches/keyd/{{ item }}
    basedir: ~/repos/keyd
    strip: 1
  loop:
    - dwm-support-keyd-application-mapper.patch

- name: "[archlinux] Keyboard peripheral: install keyd"
  become: true
  ansible.builtin.shell: make && make install
  args:
    chdir: "{{ ansible_env.HOME }}/repos/keyd"
    creates: /usr/local/bin/keyd
  notify: "10-system-tools : handler_ensure_keyd_service"

# fix conflict between kde and xorg keyboard rate
# verify manually with: `kcmshell6 kcm_kded` and then search "Keyboard daemon"
# https://unix.stackexchange.com/questions/384390/kde-keyboard-repeat-delay-rate-settings-dont-work-have-no-effect
# https://www.reddit.com/r/kde/comments/1dkroeg/workaround_when_background_services_is_missing/
- name: "[archlinux] Keyboard peripheral: disable kde keyboard daemon"
  ansible.builtin.replace:
    path: ~/.config/kded5rc
    after: "^\\[Module-keyboard\\]"
    regexp: "^(autoload)=true"
    replace: "\\1=false"
  ignore_errors: true

- name: "[archlinux] Keyboard peripheral: setup keyd default.conf"
  become: true
  ansible.builtin.template:
    src: ~/dotfiles/assets/other/keyd-default.conf
    dest: /etc/keyd/default.conf
    mode: "644"
  notify:
    - "10-system-tools : handler_ensure_keyd_service"
    - "10-system-tools : handler_restart_keyd"

- name: "[archlinux] Keyboard peripheral: enable kbdrate services"
  ansible.builtin.systemd_service:
    scope: user
    name: kbdrate.service
    enabled: true
    masked: false

- name: "[archlinux] Keyboard peripheral: ensure xinput dir"
  become: true
  ansible.builtin.file:
    state: directory
    recurse: true
    path: /etc/X11/xinit/xinput.d

- name: "[archlinux] Keyboard peripheral: copy sudo files"
  become: true
  ansible.builtin.template:
    src: "{{ item.source }}"
    dest: "{{ item.dest }}"
    owner: root
    mode: "644"
  loop:
    - { source: ~/dotfiles/assets/udev-rules/99-kbdrate.rules, dest: /etc/udev/rules.d/99-kbdrate.rules }
    - { source: ~/dotfiles/assets/udev-rules/99-disable-internal-keyboard.rules, dest: /etc/udev/rules.d/99-disable-internal-keyboard.rules }
    - { source: ~/dotfiles/assets/other/composekey_xim, dest: /etc/X11/xinit/xinput.d/xim }

- name: "[archlinux] Keyboard peripheral: create symlink"
  become: true
  ansible.builtin.file:
    src: /etc/X11/xinit/xinput.d/xim
    dest: /etc/X11/xinit/xinput.d/en_US.UTF-8
    state: link

- name: "[archlinux] Keyboard peripheral: create another symlink"
  ansible.builtin.file:
    src: /usr/share/X11/locale/en_US.UTF-8/Compose
    dest: ~/.XCompose
    state: link

- name: "[archlinux] Keyboard peripheral: prepare readline-mode-notify script"
  become: true
  ansible.builtin.template:
    src: "{{ ansible_env.HOME }}/dotfiles/assets/scripts/keyd/readline-mode-watcher.sh"
    dest: /usr/local/bin/readline-mode-watcher.sh
    mode: "755"

- name: "[archlinux] Keyboard peripheral: setup services"
  become: true
  ansible.builtin.template:
    src: "{{ ansible_env.HOME }}/dotfiles/assets/services/{{ item }}"
    dest: /etc/systemd/system/{{ item }}
    owner: root
    mode: "644"
  loop:
    - readline-mode-notify.service
  notify: "10-system-tools : handler_ensure_readline_mode_notify_service"

- name: "[archlinux] Keyboard peripheral: clone mouseless"
  ansible.builtin.git:
    repo: https://github.com/jbensmann/mouseless
    dest: ~/external/repos/mouseless
    version: main
    single_branch: true
    depth: 1
  notify:
    - "10-system-tools : handler_build_mouseless"
    - "10-system-tools : handler_ensure_mouseless_udev_rules"
    - "10-system-tools : handler_link_mouseless_binary"

- name: "[archlinux] Keyboard peripheral: clone warpd"
  ansible.builtin.git:
    repo: https://github.com/rvaiya/warpd
    dest: ~/external/repos/warpd
    version: master
    force: true
    single_branch: true
    depth: 1

- name: "[archlinux] Keyboard peripheral: patch warpd"
  ansible.posix.patch:
    src: ~/dotfiles/assets/patches/warpd/{{ item }}
    basedir: ~/external/repos/warpd
    strip: 1
  loop:
    - horizontal_scroll.patch
    - typo.patch

- name: "[archlinux] Keyboard peripheral: install warpd"
  become: true
  ansible.builtin.shell: make && make install
  environment:
    DISABLE_WAYLAND: "true"
  args:
    chdir: "{{ ansible_env.HOME }}/external/repos/warpd"
    creates: /usr/local/bin/warpd

- name: "[archlinux] Keyboard peripheral: clone cursor indicator"
  ansible.builtin.git:
    repo: https://gitlab.com/qurn/cursor_indicator
    dest: ~/external/repos/cursor_indicator
    force: true
    version: master

- name: "[archlinux] Keyboard peripheral: make cursor indicator"
  ansible.builtin.command: >
    cc cursor_indicator.c -o cursor_indicator  -lX11 -lXext -lXfixes -I/usr/include/freetype2
  args:
    chdir: ~/external/repos/cursor_indicator
    creates: ~/external/repos/cursor_indicator/cursor_indicator

- name: "[archlinux] Keyboard peripheral: symlink cursor indicator"
  ansible.builtin.file:
    src: ~/external/repos/cursor_indicator/cursor_indicator
    dest: ~/bin/cursor_indicator
    state: link
    mode: "755"

- name: "[archlinux] Keyboard peripheral: add user to keyd group"
  become: true
  ansible.builtin.user:
    append: true
    groups: keyd
    name: "{{ ansible_env.USER }}"

- name: "[archlinux] Other tools: ensure keyboard-tools dir exists"
  ansible.builtin.file:
    path: ~/apps/keyboard-tools
    state: directory
    mode: "775"

- name: "[archlinux] Keyboard peripheral: download mouseless.click"
  ansible.builtin.get_url:
    url: https://github.com/croian/mouseless/releases/download/v{{ arch_mouseless_click_version }}/Mouseless_v{{ arch_mouseless_click_version }}_arch-20251005.0.430597_x86_64.AppImage
    dest: ~/apps/keyboard-tools/Mouseless.AppImage
    mode: "755"
  notify: handler_ensure_mouseless_click_service
