---
- name: "[archlinux] Nvidia tools: check valid x session"
  ansible.builtin.shell: xhost >& /dev/null
  register: var_is_x_display_session
  changed_when: true
  ignore_errors: true

- name: "[archlinux] Nvidia tools: set x display fact"
  ansible.builtin.set_fact:
    is_x_display_session: "{{ var_is_x_display_session.rc == 0 }}"

- name: "[archlinux] Nvidia tools: ensure nvidia packages"
  become: true
  ansible.builtin.package:
    name:
      - nvidia-lts
      - nvidia-prime
      - nvidia-settings
      - nvidia-prime-rtd3pm
      - nvidia-utils
      - lib32-nvidia-utils
  when: is_x_display_session
