---
- name: "[archlinux] Nvidia tools: ensure nvidia packages"
  become: true
  ansible.builtin.package:
    name:
      - nvidia-open-lts
      - nvidia-prime
      - nvidia-settings
      - nvidia-utils
      - lib32-nvidia-utils
  when: is_x_display_session

- name: "[archlinux] Nvidia tools: ensure aur packages"
  become: true
  become_user: aur_builder
  aur:
    use: yay
    state: present
    name: nvidia-prime-rtd3pm

- name: "[archlinux] Nvidia tools: add kernel param"
  become: true
  ansible.builtin.copy:
    src: nvidia/video.conf
    dest: /etc/cmdline.d/video.conf
    mode: "644"
  notify: handler_mkinitcpio_allpresets

- name: "[archlinux] Nvidia tools: check nvidia-persistenced service"
  ansible.builtin.command: systemctl list-unit-files nvidia-persistenced.service
  changed_when: true
  ignore_errors: true
  register: var_nvidia_persistenced_service

- name: "[archlinux] Nvidia tools: enable nvidia-persistenced service"
  become: true
  ansible.builtin.systemd_service:
    scope: system
    name: nvidia-persistenced.service
    enabled: true
    masked: false
  when: "'nvidia-persistenced.service' in var_nvidia_persistenced_service.stdout"

- name: "[archlinux] Nvidia tools: add config files"
  become: true
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "644"
  loop:
    - src: nvidia/80-igpu-primary-egpu-offload.conf
      dest: /etc/X11/xorg.conf.d/80-igpu-primary-egpu-offload.conf
