---
- name: "[archlinux] Grep utilities: ensure several grep packages"
  ansible.builtin.package:
    state: present
    name:
      - ripgrep
      - fd
      - fzf

- name: "[archlinux] Grep utilities: ensure .fzf_history"
  ansible.builtin.template:
    src: .fzfrc
    dest: ~/
    mode: "644"
