---
- block:
    - name: Setup startup scripts
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 10-setup-desktop.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux', 'debian', 'otherlinux']"
      loop_control:
        loop_var: task_file
  tags: [always, "10-10"]

- block:
    - name: Setup ansible aur module
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 20-setup-aur.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["10-20"]

- block:
    - name: Setup dotfiles are setup
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 30-setup-dotfiles.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux', 'debian', 'otherlinux', 'macosx']"
      loop_control:
        loop_var: task_file
  tags: [always, "10-30"]

- block:
    - name: Prepare go before mouseless setup
      ansible.builtin.include_role:
        name: 20-dev-tools
        tasks_from: go

    - name: Setup keyboard tools are configured
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 40-setup-keyboard-tools.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["10-40"]

- block:
    - name: Setup graphic tablet tools are configured
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 50-setup-graphic-tablet-tools.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux', 'macosx']"
      loop_control:
        loop_var: task_file
  tags: ["10-50"]

- block:
    - name: Setup nvidia tools are configured
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 60-setup-nvidia-tools.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["10-60"]

- block:
    - name: Setup automation tools
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 70-setup-automation-tools.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["10-70"]

- block:
    - name: Setup grep utilities
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 80-setup-grep-tools.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux', 'debian']"
      loop_control:
        loop_var: task_file
  tags: ["10-80"]

- block:
    - name: Setup notification tools
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 90-setup-notification-tools.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["10-90"]

- block:
    - name: Setup compositor
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 100-setup-compositor.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["10-100"]

- block:
    - name: Setup chrome tools are setup
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 110-setup-chrome-tools.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["10-110"]

- block:
    - name: Setup wine tools are setup
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 120-setup-wine-tools.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["10-120"]

- block:
    - name: Setup wine tools are setup (using flatpak)
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 121-setup-wine-tools-flatpak.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["10-121"]

- block:
    - name: Setup virtualbox tools
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 140-setup-virtualbox.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["10-140"]

- block:
    - name: Setup persistence tools
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 150-setup-persistence-tools.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["10-150"]

- block:
    - name: Setup other tools
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 160-setup-other-tools.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["10-160"]

- block:
    - name: Prepare volta, npm, node, etc before browser setup
      ansible.builtin.include_role:
        name: 20-dev-tools
        tasks_from: node

    - name: Prepare java env before browser setup because react-devtools need it
      ansible.builtin.include_role:
        name: 30-lang-tools
        tasks_from: java

    - name: Setup browser tools
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 170-setup-browser-tools.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["10-170"]

- block:
    - name: Setup backup tools
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 180-setup-backup-tools.{{ user_os }}.yml
          skip: true
      when: "user_os in ['debian', 'archlinux', 'otherlinux']" # debian should be first
      loop_control:
        loop_var: task_file
  tags: ["10-180"]

- block:
    - name: Setup root backup tools
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 181-setup-root-backup-tools.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["10-181"]

- block:
    - name: Setup encryption tools
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 190-setup-encryption-tools.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["10-190"]

- block:
    - name: Setup file manager tools
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 200-setup-file-manager-tools.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["10-200"]

- block:
    - name: Setup audio tools
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 210-setup-audio-tools.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["10-210"]

- block:
    - name: Setup video tools
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 220-setup-video-tools.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: ["10-220"]

- block:
    - name: Setup last
      # Tasks that should be executed last on this role
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 999-setup-last.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: [always, "10-999"]
