---
- block:
    - name: Setup cloud tools
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 10-setup-cloud-tools.{{ user_os }}.yml
          skip: true
      when: "user_os in ['archlinux']"
      loop_control:
        loop_var: task_file
  tags: [never, "50-10"]

- block:
    - name: Setup cloud tools upgrade
      ansible.builtin.include_tasks: "{{ task_file }}"
      with_first_found:
        - files: 20-upgrade-cloud-tools.{{ user_os }}.yml
          skip: true
      when: "user_os in ['debian']"
      loop_control:
        loop_var: task_file
  tags: [never, slow, "50-20"]
